<!-- Carousel -->
<div id="carouselExampleControls" class="carousel slide mb-5 mx-2 margin-top" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row user_data">
                <div class="col-sm-1 col-lg-1 col-xxl-1"></div>
                <div class="col-4 col-sm-2 col-lg-2 col-xxl-3 my-lg-auto">
                    <div class="row">
                        <i class="fa fa-pencil icon-edit" aria-hidden="true"></i>
                    </div>
                    <div class="row">
                        <img src="../assets/media/avatar.png" alt="avatar" class="avatar mx-auto">
                    </div>
                    <div class="row">
                        <p class="profile_match mx-auto">85% Matching</p>
                    </div>
                </div>
                <div class="col-7 col-sm-6 col-lg-6 col-xxl-5 my-auto">
                    <div class="row">
                        <div class="col-12">
                            <small class="d-lg-none user-details">ID UD-1205</small>
                            <div fxLayout="row">
                                <h5 class="me-2 my-auto">Daniel Jones</h5>
                                <span class="my-auto">
                                    <mat-icon class="my-auto">star</mat-icon>4.3
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1 my-auto">
                        <div class="col">
                            <span class="user-details">Assistant Director Of Technology at Google
                                Inc.</span>
                        </div>
                    </div>
                    <div class="row mt-1 my-auto d-none d-lg-block">
                        <div class="col" fxLayout="row">
                            <div class="me-3">
                                <i class="fa fa-map-marker map-marker mt-0 me-2" aria-hidden="true"></i>
                                <span class="dark-color">Banglore, India</span>
                            </div>
                            <div class="me-3">
                                <i class="fa fa-envelope envelope mt-0 me-2"></i>
                                <span class="dark-color">daniel@gmail.com</span>
                            </div>
                            <div>
                                <i class="fa fa-phone phone mt-0 me-2" aria-hidden="true"></i>
                                <span class="dark-color">+91 9876543210</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1 d-none d-lg-block">
                        <div class="col" fxLayout="row">
                            <div class="me-3">
                                <p>Created On: <span>21 Dec 2021</span></p>
                            </div>
                            <div>
                                <p>Last Update: <span>21 Dec 2021</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1 d-none d-lg-block">
                        <div class="col icon-social">
                            <span><i class="fa fa-linkedin-square icon-linkedin"></i></span>
                            <span><i class="fa fa-whatsapp icon-whatsapp"></i></span>
                        </div>
                    </div>
                    <div class="row mt-1 d-none d-lg-block">
                        <div class="col-12">
                            <div class="row">
                                <div class="col" fxLayout="row">
                                    <div>
                                        <i class="fa fa-plus icon-plus my-auto"></i>
                                    </div>
                                    <div class="vector-phone mx-2">
                                        <img src="../assets/media/vector.png" alt="vector">
                                        <span class="mx-2">Phone</span>|
                                    </div>
                                    <div class="vector-phone mx-2"><img src="../assets/media/vector.png" alt="vector"><span
                                            class="mx-2">Whitelist</span><i class="fa fa-times-circle-o icon-cross"></i>
                                    </div>
                                    <div>
                                        <span class="vector-number my-auto">+1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1 col-sm-2 col-lg-2 col-xxl-2 flex-end">
                    <div class="d-none d-lg-flex">
                        <i class="fa fa-share-alt mx-2" aria-hidden="true"></i>
                        <i class="fa fa-download mx-2" aria-hidden="true"></i>
                        <i class="fa fa-envelope mx-2" aria-hidden="true"></i>
                    </div>
                    <div class="dropdown d-lg-none ellipsis-menu">
                        <a type="text" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#"><i class="fa fa-share-alt me-2"
                                        aria-hidden="true"></i>Share</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa fa-download me-2"
                                        aria-hidden="true"></i>Download Resume</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa fa-envelope me-2"
                                        aria-hidden="true"></i>Send Email</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa fa-users me-2"
                                        aria-hidden="true"></i>Similar Candidates</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-1 col-lg-1 col-xxl-1"></div>
            </div>
            <div class="row user_data d-lg-none">
                <div class="col-12 col-md-10 mx-auto">
                    <div class="row mt-2 my-auto">
                        <div class="col" fxLayout="row">
                            <i class="fa fa-phone phone mt-0 me-2" aria-hidden="true"></i>
                            <span class="light-color me-3">(+91) 9857 857 125</span>
                            <i class="fa fa-envelope envelope mt-0 me-2"></i>
                            <span class="light-color">danieljames@gmaoil.com</span>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col" fxLayout="row">
                            <i class="fa fa-map-marker map-marker mt-0 me-2" aria-hidden="true"></i>
                            <span class="light-color">Current Location - Delhi, India</span>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col" fxLayout="row">
                            <i class="fa fa-linkedin-square icon-linkedin me-2"></i><span
                                class="light-color my-auto me-3">Linkdln</span>
                            <i class="fa fa-whatsapp icon-whatsapp me-2"></i><span
                                class="light-color my-auto">Whatsapp</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row user_data">
                <div class="col-sm-1 col-lg-1 col-xxl-1"></div>
                <div class="col-4 col-sm-2 col-lg-2 col-xxl-3 my-lg-auto">
                    <div class="row">
                        <i class="fa fa-pencil icon-edit" aria-hidden="true"></i>
                    </div>
                    <div class="row">
                        <img src="../assets/media/avatar.png" alt="avatar" class="avatar mx-auto">
                    </div>
                    <div class="row">
                        <p class="profile_match mx-auto">85% Matching</p>
                    </div>
                </div>
                <div class="col-7 col-sm-6 col-lg-6 col-xxl-5 my-auto">
                    <div class="row">
                        <div class="col-12">
                            <small class="d-lg-none user-details">ID UD-1205</small>
                            <div fxLayout="row">
                                <h5 class="me-2 my-auto">Daniel Jones</h5>
                                <span class="my-auto">
                                    <mat-icon class="my-auto">star</mat-icon>4.3
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1 my-auto">
                        <div class="col">
                            <span class="user-details">Assistant Director Of Technology at Google
                                Inc.</span>
                        </div>
                    </div>
                    <div class="row mt-1 my-auto d-none d-lg-block">
                        <div class="col" fxLayout="row">
                            <div class="me-3">
                                <i class="fa fa-map-marker map-marker mt-0 me-2" aria-hidden="true"></i>
                                <span class="dark-color">Banglore, India</span>
                            </div>
                            <div class="me-3">
                                <i class="fa fa-envelope envelope mt-0 me-2"></i>
                                <span class="dark-color">daniel@gmail.com</span>
                            </div>
                            <div>
                                <i class="fa fa-phone phone mt-0 me-2" aria-hidden="true"></i>
                                <span class="dark-color">+91 9876543210</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1 d-none d-lg-block">
                        <div class="col" fxLayout="row">
                            <div class="me-3">
                                <p>Created On: <span>21 Dec 2021</span></p>
                            </div>
                            <div>
                                <p>Last Update: <span>21 Dec 2021</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1 d-none d-lg-block">
                        <div class="col icon-social">
                            <span><i class="fa fa-linkedin-square icon-linkedin"></i></span>
                            <span class="material-icons">whatsapp</span>
                        </div>
                    </div>
                    <div class="row mt-1 d-none d-lg-block">
                        <div class="col-12">
                            <div class="row">
                                <div class="col" fxLayout="row">
                                    <div>
                                        <i class="fa fa-plus icon-plus my-auto"></i>
                                    </div>
                                    <div class="vector-phone mx-2">
                                        <img src="../assets/media/vector.png" alt="vector">
                                        <span class="mx-2">Phone</span>|
                                    </div>
                                    <div class="vector-phone mx-2"><img src="../assets/media/vector.png" alt="vector"><span
                                            class="mx-2">Whitelist</span><i class="fa fa-times-circle-o icon-cross"></i>
                                    </div>
                                    <div>
                                        <span class="vector-number my-auto">+1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1 col-sm-2 col-lg-2 col-xxl-2 flex-end">
                    <div class="d-none d-lg-flex">
                        <i class="fa fa-share-alt mx-2" aria-hidden="true"></i>
                        <i class="fa fa-download mx-2" aria-hidden="true"></i>
                        <i class="fa fa-envelope mx-2" aria-hidden="true"></i>
                    </div>
                    <div class="dropdown d-lg-none ellipsis-menu">
                        <a type="text" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#"><i class="fa fa-share-alt me-2"
                                        aria-hidden="true"></i>Share</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa fa-download me-2"
                                        aria-hidden="true"></i>Download Resume</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa fa-envelope me-2"
                                        aria-hidden="true"></i>Send Email</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa fa-users me-2"
                                        aria-hidden="true"></i>Similar Candidates</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-1 col-lg-1 col-xxl-1"></div>
            </div>
            <div class="row user_data d-lg-none">
                <div class="col-12 col-md-10 mx-auto">
                    <div class="row mt-2 my-auto">
                        <div class="col" fxLayout="row">
                            <i class="fa fa-phone phone mt-0 me-2" aria-hidden="true"></i>
                            <span class="light-color me-3">(+91) 9857 857 125</span>
                            <i class="fa fa-envelope envelope mt-0 me-2"></i>
                            <span class="light-color">danieljames@gmaoil.com</span>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col" fxLayout="row">
                            <i class="fa fa-map-marker map-marker mt-0 me-2" aria-hidden="true"></i>
                            <span class="light-color">Current Location - Delhi, India</span>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col" fxLayout="row">
                            <i class="fa fa-linkedin-square icon-linkedin me-2"></i><span
                                class="light-color my-auto me-3">Linkdln</span>
                            <i class="fa fa-whatsapp icon-whatsapp me-2"></i><span
                                class="light-color my-auto">Whatsapp</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row user_data">
                <div class="col-sm-1 col-lg-1 col-xxl-1"></div>
                <div class="col-4 col-sm-2 col-lg-2 col-xxl-3 my-lg-auto">
                    <div class="row">
                        <i class="fa fa-pencil icon-edit" aria-hidden="true"></i>
                    </div>
                    <div class="row">
                        <img src="../assets/media/avatar.png" alt="avatar" class="avatar mx-auto">
                    </div>
                    <div class="row">
                        <p class="profile_match mx-auto">85% Matching</p>
                    </div>
                </div>
                <div class="col-7 col-sm-6 col-lg-6 col-xxl-5 my-auto">
                    <div class="row">
                        <div class="col-12">
                            <small class="d-lg-none user-details">ID UD-1205</small>
                            <div fxLayout="row">
                                <h5 class="me-2 my-auto">Daniel Jones</h5>
                                <span class="my-auto">
                                    <mat-icon class="my-auto">star</mat-icon>4.3
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1 my-auto">
                        <div class="col">
                            <span class="user-details">Assistant Director Of Technology at Google
                                Inc.</span>
                        </div>
                    </div>
                    <div class="row mt-1 my-auto d-none d-lg-block">
                        <div class="col" fxLayout="row">
                            <div class="me-3">
                                <i class="fa fa-map-marker map-marker mt-0 me-2" aria-hidden="true"></i>
                                <span class="dark-color">Banglore, India</span>
                            </div>
                            <div class="me-3">
                                <i class="fa fa-envelope envelope mt-0 me-2"></i>
                                <span class="dark-color">daniel@gmail.com</span>
                            </div>
                            <div>
                                <i class="fa fa-phone phone mt-0 me-2" aria-hidden="true"></i>
                                <span class="dark-color">+91 9876543210</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1 d-none d-lg-block">
                        <div class="col" fxLayout="row">
                            <div class="me-3">
                                <p>Created On: <span>21 Dec 2021</span></p>
                            </div>
                            <div>
                                <p>Last Update: <span>21 Dec 2021</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1 d-none d-lg-block">
                        <div class="col icon-social">
                            <span><i class="fa fa-linkedin-square icon-linkedin"></i></span>
                            <span><i class="fa fa-whatsapp icon-whatsapp"></i></span>
                        </div>
                    </div>
                    <div class="row mt-1 d-none d-lg-block">
                        <div class="col-12">
                            <div class="row">
                                <div class="col" fxLayout="row">
                                    <div>
                                        <i class="fa fa-plus icon-plus my-auto"></i>
                                    </div>
                                    <div class="vector-phone mx-2">
                                        <img src="../assets/media/vector.png" alt="vector">
                                        <span class="mx-2">Phone</span>|
                                    </div>
                                    <div class="vector-phone mx-2"><img src="../assets/media/vector.png" alt="vector"><span
                                            class="mx-2">Whitelist</span><i class="fa fa-times-circle-o icon-cross"></i>
                                    </div>
                                    <div>
                                        <span class="vector-number my-auto">+1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1 col-sm-2 col-lg-2 col-xxl-2 flex-end">
                    <div class="d-none d-lg-flex">
                        <i class="fa fa-share-alt mx-2" aria-hidden="true"></i>
                        <i class="fa fa-download mx-2" aria-hidden="true"></i>
                        <i class="fa fa-envelope mx-2" aria-hidden="true"></i>
                    </div>
                    <div class="dropdown d-lg-none ellipsis-menu">
                        <a type="text" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#"><i class="fa fa-share-alt me-2"
                                        aria-hidden="true"></i>Share</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa fa-download me-2"
                                        aria-hidden="true"></i>Download Resume</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa fa-envelope me-2"
                                        aria-hidden="true"></i>Send Email</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa fa-users me-2"
                                        aria-hidden="true"></i>Similar Candidates</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-1 col-lg-1 col-xxl-1"></div>
            </div>
            <div class="row user_data d-lg-none">
                <div class="col-12 col-md-10 mx-auto">
                    <div class="row mt-2 my-auto">
                        <div class="col" fxLayout="row">
                            <i class="fa fa-phone phone mt-0 me-2" aria-hidden="true"></i>
                            <span class="light-color me-3">(+91) 9857 857 125</span>
                            <i class="fa fa-envelope envelope mt-0 me-2"></i>
                            <span class="light-color">danieljames@gmaoil.com</span>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col" fxLayout="row">
                            <i class="fa fa-map-marker map-marker mt-0 me-2" aria-hidden="true"></i>
                            <span class="light-color">Current Location - Delhi, India</span>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col" fxLayout="row">
                            <i class="fa fa-linkedin-square icon-linkedin me-2"></i><span
                                class="light-color my-auto me-3">Linkdln</span>
                            <i class="fa fa-whatsapp icon-whatsapp me-2"></i><span
                                class="light-color my-auto">Whatsapp</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev d-none d-lg-flex" href="#carouselExampleControls" role="button"
        data-bs-slide="prev">
        <img src="../assets/media/left-arrow.png" alt="">
    </a>
    <a class="carousel-control-next d-none d-lg-flex" href="#carouselExampleControls" role="button"
        data-bs-slide="next">
        <img src="../assets/media/right-arrow.png" alt="">
    </a>
</div>