.candidate-list {
    padding: 0px 18px;

    .reset {
        color: #FF715A !important;
    }

    .sort-by {
        width: 12%;
        background: #1F47F5;
        border-radius: 4px;
        color: white;
        margin-right: 10px;
    }

    .bulk-actions {
        width: 15%;
        background: white;
        border-radius: 4px;
        color: black;
        margin-right: 10px; 
    }

    .sort-by.mat-icon.arrow {
        color: white;
        height: 13px;
        width: 13px;
    }
    .bulk-actions.mat-icon.arrow {
        color: black;
        height: 13px;
        width: 13px;
    }
    .mat-chip.mat-standard-chip{
        // padding:2px;
        border-radius:4px;
        background:white;
        border:1px solid #1F47F5;
        color:#1F47F5;
    }

    .avatar {
        // height:50px;
        // width:50px;
        border-radius: 50%;
    }

    .material-icons {
        font-size: 16px;
    }

    .candidate-list-left {
        padding: 10px;
    }

    .user_data {
        border: 1px solid #E3E1E5;
        font-size: 12px;
        color: #84818A;
        .light{
            color: #B6B4BA;
        }
        .candidate-details {
            padding: 20px;
        }

        .candidate-list-right {
            border-left: 1px solid #F3F3F3;
            margin: 0;

            .mat-icon {
                color: #B6B4BA;
                // display: flex;
                // flex-direction: column;
                // height: 30px;
                // align-content: space-evenly;
                margin-top:7px;
            }

            .mat-icon.thumb {
                color: #FF715A;
            }

            .mat-icon.import-export {
                color: #00A46C;
                // background: #E3E1E5;
            }
        }

        span {
            font-size: 12px;
            color: #84818A;
        }

        p {
            font-size: 11.5px;
        }

        .user-mat-icon {
            height: auto;
            width: 14px;
            font-size: 14px;
            margin-right: 2px;
            color: #1F47F5;
        }
    }

    .user-details {
        color: #84818A;
    }

    .ratings {
        color: #FFAE1F;

        .mat-icon {
            height: auto;
            width: 16px;
        }
    }

    .icon-plus {
        border: 1px solid #E3E1E5;
        color: #E3E1E5;
        border-radius: 50%;
        padding: 3px !important;
    }

    .vector-phone {
        background: #FBFBFB;
        font-size: 13px;
        border-radius: 20px;
        padding: 1px 12px;
        border: 1px solid #E3E3E3;
        color: var(--darkgrey);
    }

    .icon-cross {
        /* border:1px solid var(--darkgrey); */
        color: var(--darkgrey);
        font-size: 15px !important;
        /* border-radius:50%;
        padding:4px!important; */
    }

    .vector-number {
        background: #FBFBFB;
        border: 1px solid #E3E3E3;
        color: var(--darkgrey);
        font-size: 13px !important;
        border-radius: 20px;
        padding: 1px 4px !important;
    }

    .icon-edit {
        background: #FFAE1F;
        color: white;
        padding: 7px 9px;
        border-radius: 50%;
        margin-bottom: -40px;
        margin-left: 58%;
        z-index: 1;
        border: 3px solid white;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile_match {
        background: #00A46C;
        color: white;
        margin-top: -20px;
        padding: 2px;
        font-size: 9px !important;
        width: auto;
    }

}

.screening {
    background: #9C27B0;
    border: none;
    line-height: 20px;
    padding: 0 5px;
    color: white;
    font-size: 12px;
}

.not-applicable {
    background: #EBEAED;
    border: none;
    line-height: 20px;
    padding: 0 5px;
    color: #FF715A;
    font-size: 12px;
}

::ng-deep {

    .sort-by .mat-select-placeholder,
    .sort-by .mat-select-arrow {
        color: white !important;
    }

    .sort-by .mat-select-arrow {
        opacity: 0;
    }
    .bulk-actions .mat-select-placeholder,
    .bulk-actions .mat-select-arrow {
        color: black !important;
    }

    .bulk-actions .mat-select-arrow {
        opacity: 0;
    }
}