.candidate-list,
.responsive-candidate-list {
    padding: 0px 18px;

    .reset {
        color: #FF715A !important;
    }

    .sort-by {
        width: 12%;
        background: #1F47F5;
        border-radius: 4px;
        color: white;
        margin-right: 10px;
    }

    .bulk-actions {
        width: 15%;
        background: white;
        border-radius: 4px;
        color: black;
        margin-right: 10px;

    }

    .sort-by.mat-icon.arrow {
        color: white;
        height: 13px;
        width: 13px;
    }

    .bulk-actions.mat-icon.arrow {
        color: black;
        height: 13px;
        width: 13px;
    }

    .mat-chip.mat-standard-chip {
        // padding:2px;
        border-radius: 4px;
        background: white;
        border: 1px solid #1F47F5;
        color: #1F47F5;
    }

    .avatar {
        // height:50px;
        // width:50px;
        border-radius: 50%;
    }

    .material-icons {
        // font-size: 16px;
    }

    .candidate-list-left {
        padding: 10px;
        border-right: 1px solid #E0DFDF;
    }

    .mat-icon.close {
        width: 16px;
        height: 16px;
        font-size: 16px;
    }

    .user_data {
        border: 1px solid #E3E1E5;
        font-size: 12px;
        color: #84818A;

        .light {
            color: #B6B4BA;
        }

        .candidate-details {
            padding: 20px;
        }


        .candidate-list-right {
            border-left: 1px solid #F3F3F3;
            margin: 0;

            .mat-icon {
                color: #B6B4BA;

                font-size: 16px;
                // display: flex;
                // flex-direction: column;
                // height: 30px;
                // align-content: space-evenly;
                margin-top: 7px;
            }

            .mat-icon.thumb {
                color: #FF715A;
            }

            .mat-icon.import-export {
                color: #00A46C;
                // background: #E3E1E5;
            }
        }

        span {
            font-size: 12px;
            color: #84818A;
        }

        p {
            font-size: 11.5px;
        }

        .user-mat-icon {
            height: auto;
            width: 14px;
            font-size: 14px;
            margin-right: 2px;
            color: #1F47F5;
        }
    }

    .user-details {
        color: #84818A;
    }

    .ratings {
        color: #FFAE1F;

        .mat-icon {
            height: auto;
            width: 16px;
            font-size: 16px;
        }
    }

    .icon-plus {
        border: 1px solid #E3E1E5;
        color: #E3E1E5;
        border-radius: 50%;
        padding: 3px !important;
    }

    .vector-phone {
        background: #FBFBFB;
        font-size: 13px;
        border-radius: 20px;
        padding: 1px 12px;
        border: 1px solid #E3E3E3;
        color: var(--darkgrey);
    }

    .filter-list {
        border: 1px solid #84818A;
        border-radius: 4px;
        padding: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon-cross {
        /* border:1px solid var(--darkgrey); */
        color: var(--darkgrey);
        font-size: 15px !important;
        /* border-radius:50%;
        padding:4px!important; */
    }

    .vector-number {
        background: #FBFBFB;
        border: 1px solid #E3E3E3;
        color: var(--darkgrey);
        font-size: 13px !important;
        border-radius: 20px;
        padding: 1px 4px !important;
    }

    .icon-edit {
        background: #FFAE1F;
        color: white;
        padding: 7px 9px;
        border-radius: 50%;
        margin-bottom: -40px;
        margin-left: 58%;
        z-index: 1;
        border: 3px solid white;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile_match {
        background: #00A46C;
        color: white;
        margin-top: -20px;
        padding: 2px;
        font-size: 9px !important;
        width: auto;
    }
}

.dropdown-img {
    margin-right: 20px;
}

.mat-option .mat-icon {
    color: #B6B4BA;
}

.responsive-candidate-list {
    border: 1px solid #F3F3F3;
    border-radius: 4px;
    padding: 15px;


    .mat-icon.thumb {
        color: #FF715A;
    }

    .mat-icon.import-export {
        color: #00A46C;
        // background: #E3E1E5;
    }

    .light {
        color: #B6B4BA;
    }

    .user-mat-icon {
        height: auto;
        width: 14px;
        font-size: 14px;
        margin-right: 2px;
        color: #B6B4BA;
    }
}

.screening {
    background: #9C27B0;
    border: none;
    line-height: 20px;
    padding: 0 5px;
    color: white;
    font-size: 12px;
}

.not-applicable {
    background: #EBEAED;
    border: none;
    line-height: 20px;
    padding: 0 5px;
    color: #FF715A;
    font-size: 12px;
}

.all-dropdown {
    width: 40%;
    background: white;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    color: #84818A;
    margin-right: 10px;
}

.all-dropdown.mat-icon.arrow {
    color: #84818A;
    height: 13px;
    width: 13px;
}

.see-less-more {
        // font-size: 16px;
        // line-height: 16px;
        height: auto;
        overflow: hidden;
    }

.see {
        overflow: visible;
        height: auto;
    }

.seeFirst {
    overflow: visible;
    height: auto;
}

.seeSecond {
    overflow: visible;
    height: auto;
}

.seeThird {
    overflow: visible;
    height: auto;
}

.seeForth {
    overflow: visible;
    height: auto;
}

.seeFifth {
    overflow: visible;
    height: auto;
}

.blue {
    color: #1F47F5 !important;
}

.more_vert {
    margin-left: -15px;
}

@media(max-width:700px) {
    .see-less-more {
        // font-size: 16px;
        // line-height: 16px;
        height: 0px;
        overflow: hidden;
    }

    .see {
            overflow: visible;
            height: auto;
        }

    .seeFirst {
        overflow: visible;
        height: auto;
    }

    .candidate-list .candidate-list-left {
        padding: 10px 10px 0 10px !important;
    }

    .candidate-details {
        padding: 0px 10px 10px 10px !important;
    }
}

::ng-deep {

    .sort-by .mat-select-placeholder,
    .sort-by .mat-select-arrow {
        color: white !important;
    }

    .sort-by .mat-select-arrow {
        opacity: 0;
    }

    .bulk-actions .mat-select-placeholder,
    .bulk-actions .mat-select-arrow {
        color: black !important;
    }

    .bulk-actions .mat-select-arrow {
        opacity: 0;
    }

    .mat-checkbox-checked.mat-accent .mat-checkbox-background,
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: #1F47F5;
    }

    .all-dropdown .mat-select-placeholder,
    .all-dropdown .mat-select-arrow {
        color: #84818A !important;
    }

    .all-dropdown .mat-select-arrow {
        opacity: 0;
    }

    .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
        color: #1F47F5;
    }

    .mat-primary .mat-option.mat-selected .mat-icon {
        color: #1F47F5;
    }
}