.add-candidate {
    border: 1px solid #1F47F5;
    color: white;
    height: auto;
    background: #1F47F5;
}

.add-candidate-btn {
    background-color: #1F47F5;
    position: fixed;
    bottom: 5%;
    right: 5%;
}