<!-- Education -->
<div class="row mx-1 my-4" class="add-education" id="education">
    <div class="col personal_details bg-white">
        <div class="row">
            <div class="col-6 icon-title d-flex align-items-center">
                <mat-icon class="me-2 head">file_copy</mat-icon>
                <h2 class="my-auto">Education</h2>
            </div>
            <div class="col-6 flex-end">
                <button class="add_user">
                    + Add Education
                </button>
            </div>
        </div>
        <div class="row mt-2 mt-lg-4">
            <div class="col-12">
                <div class="row mt-2 content">
                    <div class="col-9 col-md-10">
                        <h6>Bachelor’s Degree In Computer Engineering at GCELT</h6>
                        <i class="fa fa-calendar icon-calendar me-2" aria-hidden="true"></i>
                        <span class="content_education">January 2019 to August
                            2021</span>
                    </div>
                    <div class="col-3 col-md-2 my-auto responsive-layout flex-end">
                        <i class="fa fa-pencil icon-pencil mx-2" aria-hidden="true"></i>
                        <i class="fa fa-trash icon-trash mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <hr class="d-none d-lg-block">
                <div class="row mt-2 content">
                    <div class="col-9 col-md-10">
                        <h6>Diploma in Computer Science & Technology at GCELT</h6>
                        <i class="fa fa-calendar icon-calendar me-2" aria-hidden="true"></i>
                        <span class="content_education">January 2019 to August
                            2021</span>
                    </div>
                    <div class="col-3 col-md-2 my-auto responsive-layout flex-end">
                        <i class="fa fa-pencil icon-pencil mx-2" aria-hidden="true"></i>
                        <i class="fa fa-trash icon-trash mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <hr class="d-none d-lg-block">
            </div>
        </div>
        <div class="row add-education-form">
            <div class="col-12">
                <div class="row">
                    <h3>Add Education</h3>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="">Degree</label><br />
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="eg Bahcelor’s Degree">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <label for="">School/Institution</label><br />
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="enter School/Institution name">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <label for="">University</label><br />
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="enter university name">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="">From</label>
                        <!-- <app-custom-datepicker></app-custom-datepicker> -->
                        <mat-form-field appearance="outline">
                            <input matInput type="date" placeholder="date">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <label for="">To</label>
                        <!-- <app-custom-datepicker></app-custom-datepicker><br/> -->
                        <mat-form-field appearance="outline" class="checkbox-position">
                            <input matInput type="date" placeholder="date">
                        </mat-form-field>
                        <mat-checkbox class="mt-0">Currently Persuing</mat-checkbox>
                    </div>
                    <div class="col-md-4">
                        <label for="">Percentage/CGPA</label>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="eg 7.2">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="">Location</label><br />
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="eg India, Kolkata">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end">
                        <button mat-stroked-button>Cancel</button>
                        <button mat-stroked-button class="ms-2 education-btn">Add Education</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Education -->