mat-header-cell, mat-cell {
    width:100%;
}
::ng-deep .mat-paginator-container {
  display: flex;
  align-items: center;
  justify-content: space-between!important;
  padding: 0 8px;
  flex-wrap: wrap-reverse;
  width: 100%;
}
.mat-column-stage{
  flex: 0 0 15% !important;
  width: 15% !important;
  padding:15px 0px;
}
.mat-column-interview{
  flex: 0 0 25% !important;
  width: 25% !important;
  padding:15px 0px;
}
.mat-column-evaluation{
  flex: 0 0 30% !important;
  width: 30% !important;
  padding:15px 10px 15px 0;
}
.mat-column-recommendation{
  flex: 0 0 23% !important;
  width: 23% !important;
  padding:15px 0px;
}
.mat-column-actions{
  flex: 0 0 20% !important;
  width: 20% !important;
  padding:15px 0px;
}