#evaluation{
    .icon-title{
        display:flex;
        align-items:center;
    }
    .icon-title .mat-icon{
        color:#1F47F5;
    }
    .add-btn{
        border: 1px solid #EBEAED;
        color: #1F47F5;
        height:auto;
        background:white;
    }  
    .personal_details{
        padding:20px;
    }
    .evaluation-head {
        background: var(--lightshade);
        padding: 8px 0px;
        border-bottom: 1px solid var(--bordergrey);
    }
    .table-head,.table-data{
        padding:12px 0;
        border-bottom:1px solid #EBEAED;
    }
    .star{
        color:#FFAE1F;
    }
    .star-border{
        color:#FFAE1F;
    }
    .dark{
        color: #504F54;
        font-weight:bold;
    }
    .eye{
        color:#84818A;
    }
    .not-hire{
        color:#FE6730;
        font-weight:bold;
    }
    .hire{
        color:#00A46C;
        font-weight:bold;
    }
    .average{
        color:#84818A;
        font-weight:bold;
    }
    .search-icon{
        color:#B6B4BA!important;
    }
    .format{
        border:1px solid  #E5E5E5;
        border-radius:4px;
        display:flex;
        align-items: center;
        justify-content: center;
        color:#1F47F5;
    }
    .evaluation-responsive{
        margin:10px 0;
        .not-hire{
            color:#FE6730;
            font-weight:bold;
        }
        .hire{
            color:#00A46C;
            font-weight:bold;
        }
        .average{
            color:#84818A;
            font-weight:bold;
        }
        .star{
            font-size:20px;
        }
        .evaluation-btn{
            border: 1px solid #EBEAED;
            background-color: #1F47F5;
            height:auto;
            color:white;
            width:100%;
        }  
        p.rate{
            color:#504F54!important;
        }
        p{
            color:#84818A;
            font-size:14px;
            margin:0;
        }
    }
}
::ng-deep{
    .mat-form-field-appearance-outline .mat-form-field-wrapper {
        margin:0;
        padding:0;
    }
}
@media(max-width:700px){
    .personal_details{
        padding:10px!important;
    }
    .evaluation-head {
        background:none!important;
        padding: 8px 0px;
        border-bottom: none!important;
    }
}