<!-- Salary Details -->
<div class="row mx-1 my-4" class="add-salary" id="salary-details">
    <div class="col personal_details bg-white">
        <div class="row">
            <div class="col-6 icon-title d-flex align-items-center">
                <mat-icon class="me-2 head">monetization_on</mat-icon>
                <h2 class="my-auto">Salary Details</h2>
            </div>
        </div>
        <div class="row salary-form">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4">
                        <label for="">Current Salary</label>
                        <mat-form-field class="select-fname" appearance="outline" floatLabel="never">
                            <mat-select placeholder="Currency">
                                <mat-option value="option">>1 Lakh</mat-option>
                                <mat-option value="option">>2 Lakh</mat-option>
                            </mat-select>
                            <mat-icon matSuffix class="arrow">keyboard_arrow_down</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <label for=""></label><br/>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Value">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <label for=""></label><br/>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Period">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="">Fixed Salary</label>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Fixed Salary">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <label for="">Variable Salary</label>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Variable Salary">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <label for="">Other Salary</label>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Other Salary">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="">Expected Salary</label>
                        <mat-form-field class="select-fname" appearance="outline" floatLabel="never">
                            <mat-select placeholder="Currency">
                                <mat-option value="option">>5 Lakh</mat-option>
                                <mat-option value="option">>6 Lakh</mat-option>
                            </mat-select>
                            <mat-icon matSuffix class="arrow">keyboard_arrow_down</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <label for=""></label><br/>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Value">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <label for=""></label><br/>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Period">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Salary Details -->