.reply-email{
    padding:20px 15px;
    .avatar{
        width:40px;
        height:40px;
        border-radius:50%;
        margin-right:10px;
    }
    .align-center{
        display:flex;
        align-items:center;
    }
    .reply-email-top{
        border:1px solid #f5f5f5;
        background: #FFFFFF;
        padding:10px;
        .mat-icon{
            color:#B6B4BA;
            font-size:20px;
        }
    }
    .reply-email-bottom{
        background: #FFFFFF;
        padding:10px;
        .reply-email-right{
            border:1px solid #EBEAED;
            padding:10px 30px;
            border-radius:4px;
            .reply{
                color:#1F47F5!important;
            }
            .rec-email{
                border:1px solid #EBEAED;
                padding:10px 5px;
                margin:10px 2px;
            }
            .email{
                color:#84818A;
            }
            .msg-header{
                border:1px solid #EBEAED;
                padding:10px 5px;
                margin:10px 2px 0px;
            }
            .headline-btn{
                font-size:10px!important;
            }
            .mat-button{
                padding:0;
                margin:0;
                font-size:12px;
                line-height:0px;
            }
            .email-msg{
                border:1px solid #EBEAED;
                padding:10px 5px;
                margin:0px 2px 10px;
            }
            .email-msg p{
                color:#25364D;
                font-size:13px;
            }
            span{
                color:#1F47F5!important;
            }
            .span-arrow{
                color:#1F47F5!important;
                font-size:15px;
                height:15px;
                width:15px;
            }
            .arrow{
                color:#84818A!important;
                font-size:15px;
                height:15px;
                width:15px;
            }
            
            .reply-btn {
                border: 1px solid #1F47F5;
                background-color: #1F47F5;
                color:white;
            }

            .mat-stroked-button {
                font-size: 13px !important;
            }

            .text-formatting .mat-icon{
                font-size:16px;
                width:14px;
                height:auto;
                margin-right:2px;
                margin-top:2px;
            }
        }
    }
}
@media(max-width:700px){
    .reply-email-right{
        border:1px solid #EBEAED;
        padding:10px!important;
        border-radius:4px;
    }
}