.candidate {
    margin-left: 60px;
    overflow: hidden !important;
}

.mat-display-1 {
    margin: 0px;
}

.hr {
    border: 1px solid #EBEAED;
}



.export-btn {
    border: 1px solid #EBEAED;
    color: #1F47F5;
    height: auto;
    background: white;
}

.all-dropdown {
    width: 20%;
    background: white;
    border:1px solid  #E5E5E5;
    border-radius: 4px;
    color: #84818A;
    margin-right: 10px;
}
.all-dropdown.mat-icon.arrow {
    color: #84818A;
    height: 13px;
    width: 13px;
}

::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-wrapper {
        margin: 0 !important;
        padding: 0 !important;
    }

    .mat-select {
        width: 50px;
    }

    .mat-select-trigger {
        height: 1em;
        top: -3px;
    }

    .mat-select-arrow-wrapper {
        height: 0px !important;
        flex-shrink: 0;
        display: inline-flex;
        align-items: center;
    }

    .mat-form-field-flex>.mat-form-field-infix {
        padding: 0.4em 0px !important;
    }

    .mat-form-field-appearance-outline .mat-form-field-label {
        margin-top: -15px;
    }

    label.ng-star-inserted {
        transform: translateY(-0.59375em) scale(.75) !important;
    }

    .mat-form-field-flex {
        display: inline-flex;
        align-items: baseline;
        box-sizing: border-box;
        // width: 30%!important;
    }
    .all-dropdown .mat-select-placeholder,
    .all-dropdown .mat-select-arrow {
        color: #84818A!important;
    }

    .all-dropdown .mat-select-arrow {
        opacity: 0;
    }
}

// End Adjust accordingly to keep placeholder/input text/Select text vertically centered
@media(max-width:700px) {
    .candidate {
        margin-left: 10px;
    }
    .all-dropdown {
        width: 30%;
        background: white;
        border:1px solid  #E5E5E5;
        border-radius: 4px;
        color: #84818A;
        margin-right: 10px;
    }
}