<div class="d-flex justify-content-between my-3">
    <div class="d-flex my-auto">
        <mat-icon class="me-3 person">person_add</mat-icon>
        <h2 mat-dialog-title>Add Candidates</h2> 
    </div>
    <div>
        <!-- <mat-icon>close</mat-icon> -->
        <button mat-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-1">
        <mat-icon class="edit">edit</mat-icon>
    </div>
    <div class="col-11">
        <p>Enter Details Manually</p>
        <p>Create a candidate profile based on the<br/> information you already know.</p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-1">
        <mat-icon class="format">format_list_bulleted</mat-icon>
    </div>
    <div class="col-11">
        <p>Upload Bulk Resume</p>
        <p>Keep track of every candidate. Upload resumes<br/> directly form your desktop</p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-1">
        <mat-icon class="key">vpn_key</mat-icon>
    </div>
    <div class="col-11">
        <p>Recruit Portals</p>
        <p>Keep track of every candidate. Upload resumes<br/> directly form your desktop</p>
    </div>
</div>
<hr/>