<div id="interviews">
    <div class="row container-padding bg-light container-margin">
        <div class="col-xl-8 col-xxl-9">
            <div class="row mx-1 my-4">
                <div class="col-12 personal_details bg-white">
                    <div class="row">
                        <div class="col-12 col-md-8 col-lg-10 icon-title">
                            <mat-icon class="example-tab-icon me-2">supervisor_account</mat-icon>
                            <b>Interviews</b>
                        </div>
                        <div class="col-12 col-md-4 col-lg-2 flex-end">
                            <button mat-stroked-button class="add-btn">Add</button>
                        </div>
                    </div>
                    <div class="row interview-schedule">
                        <div class="col">
                            <div class="row">
                                <div class="col-10 d-flex align-items-center">
                                    <mat-icon class="me-2 calendar-icon">calendar_today</mat-icon>
                                    <h2 class="my-auto me-2">Senior UI/UX Designer</h2>
                                    <button mat-stroked-button class="interview-btn schedule me-2">Auto Schedued</button>
                                    <button mat-stroked-button class="interview-btn round me-2">2nd Round</button>
                                    <button mat-stroked-button class="interview-btn slots me-2">Seeking Slots</button>
                                </div>
                                <div class="col-2 flex-end">
                                    <mat-icon>share</mat-icon>
                                </div>
                            </div>
                            <hr>
                            <div class="row interview-data">
                                <div class="col d-flex align-items-center">
                                    <mat-icon class="me-3">watch_later</mat-icon>
                                    Wednesday, July 15   9:00- 10:00 AM
                                </div>
                            </div>
                            <div class="row interview-data">
                                <div class="col d-flex align-items-center">
                                    <mat-icon class="me-3">location_on</mat-icon>
                                    BeachFront
                                </div>
                            </div>
                            <div class="row interview-data">
                                <div class="col d-flex align-items-center">
                                    <mat-icon class="me-3">videocam</mat-icon>
                                    <a>Join Zoom meeting</a>
                                </div>
                            </div>
                            <div class="row interview-data">
                                <div class="col d-flex align-items-center">
                                    <mat-icon class="me-3">person</mat-icon>
                                    <img src="../assets/media/avatar.png" alt="" class="avatar me-2">
                                    josep@gmail.com <span class="light">(Organiser)</span>
                                </div>
                            </div>
                            <div class="row interview-data">
                                <div class="col d-flex align-items-center">
                                    <mat-icon class="example-tab-icon me-3 d-flex align-items-center">supervisor_account</mat-icon>
                                    <span>
                                        <span class="user-name-icon me-3">
                                            <mat-icon class="me-2 check-circle">check_circle_outline</mat-icon>Sien Xie
                                        </span>
                                        <span class="user-name-icon me-3">
                                            <mat-icon class="me-2 cancel">cancel</mat-icon>Saam Doe
                                        </span>
                                        <span class="user-name-icon me-3">
                                            <mat-icon class="me-2 help-icon">help</mat-icon>Nattie Kim
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="row interview-data">
                                <div class="col">
                                    <button mat-stroked-button class="interview-btn accept me-3">Accept</button>
                                    <button mat-stroked-button class="interview-btn reschedule me-3">Reschedule</button>
                                    <button mat-stroked-button class="interview-btn reject me-3">Reject</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row interview-schedule">
                        <div class="col">
                            <div class="row">
                                <div class="col-10 d-flex align-items-center">
                                    <mat-icon class="me-2 calendar-icon">calendar_today</mat-icon>
                                    <h2 class="my-auto me-2">Senior UI/UX Designer</h2>
                                    <button mat-stroked-button class="interview-btn schedule me-2">Auto Schedued</button>
                                    <button mat-stroked-button class="interview-btn round me-2">2nd Round</button>
                                    <button mat-stroked-button class="interview-btn slots me-2">Seeking Slots</button>
                                </div>
                                <div class="col-2 flex-end">
                                    <mat-icon>share</mat-icon>
                                </div>
                            </div>
                            <hr>
                            <div class="row interview-data">
                                <div class="col d-flex align-items-center">
                                    <mat-icon class="me-3">watch_later</mat-icon>
                                    Wednesday, July 15   9:00- 10:00 AM
                                </div>
                            </div>
                            <div class="row interview-data">
                                <div class="col d-flex align-items-center">
                                    <mat-icon class="me-3">location_on</mat-icon>
                                    BeachFront
                                </div>
                            </div>
                            <div class="row interview-data">
                                <div class="col d-flex align-items-center">
                                    <mat-icon class="me-3">videocam</mat-icon>
                                    <a>Join Zoom meeting</a>
                                </div>
                            </div>
                            <div class="row interview-data">
                                <div class="col d-flex align-items-center">
                                    <mat-icon class="me-3">person</mat-icon>
                                    <img src="../assets/media/avatar.png" alt="" class="avatar me-2">
                                    josep@gmail.com <span class="light">(Organiser)</span>
                                </div>
                            </div>
                            <div class="row interview-data">
                                <div class="col d-flex align-items-center">
                                    <mat-icon class="example-tab-icon me-3 d-flex align-items-center">supervisor_account</mat-icon>
                                    <span>
                                        <span class="user-name-icon me-3">
                                            <mat-icon class="me-2 check-circle">check_circle_outline</mat-icon>Sien Xie
                                        </span>
                                        <span class="user-name-icon me-3">
                                            <mat-icon class="me-2 cancel">cancel</mat-icon>Saam Doe
                                        </span>
                                        <span class="user-name-icon me-3">
                                            <mat-icon class="me-2 help-icon">help</mat-icon>Nattie Kim
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="row interview-data">
                                <div class="col">
                                    <button mat-stroked-button class="interview-btn accept me-3">Accept</button>
                                    <button mat-stroked-button class="interview-btn reschedule me-3">Reschedule</button>
                                    <button mat-stroked-button class="interview-btn reject me-3">Reject</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-xxl-3">
            <app-right-part></app-right-part>
        </div>
    </div>
</div>