$fontName: 'Poppins',
sans-serif;

:host {
  ::ng-deep {
    .project-panel table.project-detail-table thead th {
      background-color: #f5f5f9;
      font-family: $fontName;
      font-size: 12px;
      font-weight: 500;
      color: #a1a6c0;
      border-bottom: 1px solid #d4d7e6;
      padding: 14px 10px;
    }

    .project-panel table.project-detail-table tbody td {
      background-color: #fff;
      font-family: $fontName;
      font-size: 12px;
      font-weight: 400;
      color: #595d6e;
      border-bottom: 1px solid #f5f5f9;
      padding: 7px 7px;
    }

    .project-panel table.project-detail-table tbody td:first-child,
    .project-panel table.project-detail-table thead th:first-child {
      padding-left: 15px;
    }

    .project-panel table.project-detail-table tbody td:last-child,
    .project-panel table.project-detail-table thead th:last-child {
      padding-right: 15px !important;
    }

    .project-panel table.project-detail-table tbody tr:last-child td {
      border-bottom: none;
    }

    .project-panel table.project-detail-table tbody tr.colorline td {
      background-color: rgba(245, 148, 42, 0.1);
      border-bottom: 1px solid #f5f5f9;
    }

    .accordion-button {
      background-color: rgba(245, 148, 42, .1);
      border-bottom: 1px solid #f5f5f9;
      color: #595d6e;
      width:100%;
    }

    .accordion-button:after {
      order: -1; //swap order
    }

    .accordion-body {
      padding: 0rem;
      margin: 0rem 1rem;
    }

    .accordion-body td {
      border-bottom: 1px solid #f5f5f5;
      padding: 8px 0;
      color: #595d6e;
    }

    .accordion-button:not(.collapsed)::after {
      width: 1rem;
      height: 1rem;
      margin-left: auto;
      text-align: center;
      content: "";
      background-image: none;
      background-repeat: no-repeat;
      background-size: 1rem;
      font-family: Font Awesome\ 5 Free;
      content: "\f106";
      font-weight: 900;
      color: #5867dd;
    }

    .accordion-button::after {
      flex-shrink: 0;
      width: 1rem;
      height: 1rem;
      margin-left: auto;
      content: "";
      text-align: center;
      background-image: none;
      background-repeat: no-repeat;
      background-size: 1rem;
      font-family: Font Awesome\ 5 Free;
      content: "\f105";
      font-weight: 900;
      color: #5867dd;
    }
  }
}