#chat{
    padding:50px 15px;
    .dropdown-right{
        height:0px;
    }   
}
::ng-deep{
    .mat-tab-label-active{
        min-width:10px!important;
        border-bottom:2px solid #1F47F5;
    }
    
    .mat-tab-group {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}