<mat-tab-group animationDuration="0ms">
    <mat-tab class="kt-header-menu-wrapper">
      <ng-template mat-tab-label >
        <mat-icon class="example-tab-icon me-2">info</mat-icon>
        Info
      </ng-template>
      <app-info></app-info>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon me-2">insert_drive_file</mat-icon>
        Resumes
      </ng-template>
      <app-resumes></app-resumes>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon me-2">file_copy</mat-icon>
        <span matBadge="1" matBadgeOverlap="false">Documents</span>
      </ng-template>
      <app-documents></app-documents>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon me-2">notes</mat-icon>
        <span matBadge="12" matBadgeOverlap="false">Notes</span>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon me-2">local_offer</mat-icon>
          Offers
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon me-2">chat</mat-icon>
        Chat
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon me-2">supervisor_account</mat-icon>
        Interviews
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon me-2">image_search</mat-icon>
          Evaluation
      </ng-template>
    </mat-tab>
  </mat-tab-group>