<!-- Education -->
<div class="row mx-1 my-4" class="add-experience" id="experience">
    <div class="col personal_details bg-white">
        <div class="row">
            <div class="col-6 icon-title d-flex align-items-center">
                <mat-icon class="me-2 head">card_travel</mat-icon>
                <h2 class="my-auto">Experience</h2>
            </div>
            <div class="col-6 flex-end">
                <button class="add_user">
                    + Add Project
                </button>
            </div>
        </div>
        <div class="row mt-2 mt-lg-4">
            <div class="col-12">
                <div class="row mt-2 content">
                    <div class="col-9 col-md-10">
                        <h6>Software Engineer at Tata Consultancy Services</h6>
                        <i class="fa fa-calendar icon-calendar me-2" aria-hidden="true"></i>
                        <span class="content_education">January 2019 to August 2021 (3 years and 2 months)</span>
                    </div>
                    <div class="col-3 col-md-2 my-auto responsive-layout flex-end">
                        <i class="fa fa-pencil icon-pencil mx-2" aria-hidden="true"></i>
                        <i class="fa fa-trash icon-trash mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <hr class="d-none d-lg-block">
                <div class="row mt-2 content">
                    <div class="col-9 col-md-10">
                        <h6>Software Engineer at Tata Consultancy Services</h6>
                        <i class="fa fa-calendar icon-calendar me-2" aria-hidden="true"></i>
                        <span class="content_education">January 2019 to August 2021 (3 years and 2 months)</span>
                    </div>
                    <div class="col-3 col-md-2 my-auto responsive-layout flex-end">
                        <i class="fa fa-pencil icon-pencil mx-2" aria-hidden="true"></i>
                        <i class="fa fa-trash icon-trash mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <hr class="d-none d-lg-block">
            </div>
        </div>
        <div class="row add-experience-form">
            <div class="col-12">
                <div class="row">
                    <h3>Add Experience</h3>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label for="">Job Title</label>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Junior UI/UX Designer">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <label for="">Company/Business name</label>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Tata Consultancy Services">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="">Location</label>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="India, Kolkata">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <label for="">From</label>
                        <!-- <app-custom-datepicker></app-custom-datepicker> -->
                        <mat-form-field appearance="outline">
                            <input matInput type="date" placeholder="date">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <label for="">To</label>
                        <!-- <app-custom-datepicker></app-custom-datepicker><br/> -->
                        <mat-form-field appearance="outline" class="checkbox-position">
                            <input matInput type="date" placeholder="date">
                        </mat-form-field>
                        <mat-checkbox class="mt-0">Currently Working</mat-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="">Description</label>
                        <mat-form-field appearance="outline">
                            <textarea matInput rows="5" placeholder="write description here"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end">
                        <button mat-stroked-button>Cancel</button>
                        <button mat-stroked-button class="ms-2 experience-btn">Add Experience</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Education -->