<!-- Skills -->
<div class="row mx-1 my-4" class="add-skills" id="skills">
    <div class="col personal_details bg-white">
        <div class="row">
            <div class="col-6 icon-title d-flex align-items-center">
                <mat-icon class="me-2 head">person</mat-icon>
                <h2 class="my-auto">Skills</h2>
            </div>
        </div>
        <div class="row add-skills-form">
            <div class="col-12">
                <label for="">Add Skills</label>
                <app-skill-chips></app-skill-chips>
            </div>
        </div>
    </div>
</div>
<!-- End Skills -->