::ng-deep {
    .add-skills {
        border: 1px solid #EBEAED;
        background: #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.03);
        margin: 15px 0 30px 0;

        .mat-icon.head {
            color: #1F47F5;
        }

        .add_user {
            color: #00A46C;
            border: none;
            font-weight: normal;
        }

        .icon-pencil {
            color: #B6B4BA;
        }

        .icon-trash {
            color: #FE6730;
        }

        .icon-calendar {
            color: #ffae1f;
        }

        .content_education {
            color: #84818A !important;
            font-weight: normal !important;
        }

        .add-skills-form {
            padding-top: 30px;

            h3 {
                width: auto;
                border-bottom: 2px solid #1F47F5;
                font-weight: 450;
            }

            mat-form-field {
                width: 100%;
            }

            // Adjust accordingly to keep placeholder/input text/Select text vertically centered
            ::ng-deep .mat-form-field .mat-input-element,
            ::ng-deep .mat-form-field .mat-select {
                position: relative;
                top: -0.3em;
            }

            ::ng-deep .mat-select-value {
                color: rgba(0, 0, 0, .42);
            }
            .mat-stroked-button{
                font-size:13px!important;
            }
        }
    }
}