<div id="info">
    <div class="row container-margin container-padding d-lg-none">
        <div class="col-12">
            <select id="select" class="form-select" aria-label="Default select example">
                <option selected><i class="fa fa-user me-2" aria-hidden="true"></i>Personal Details</option>
                <option value="1"><i class="fa fa-file me-2" aria-hidden="true"></i>Language</option>
                <option value="2"><i class="fa fa-file me-2" aria-hidden="true"></i>Education</option>
                <option value="3">Project</option>
                <option value="4">Experience</option>
                <option value="5">Salary Details</option>
                <option value="6">Skills</option>
                <option value="7">Certificates</option>
            </select>
        </div>
    </div>
    <div class="row container-margin container-padding bg-light" id="info">
        <div class="col-xl-8 col-xxl-9">
            <app-left-part></app-left-part>
        </div>
        <div class="col-xl-4 col-xxl-3">
            <app-right-part></app-right-part>
        </div>
    </div>
</div>