<!-- Language -->
<div class="row mx-1" class="add-language" #language>
    <div class="col personal_details bg-white">
        <div class="row">
            <div class="col-8 col-sm-9 icon-title d-flex align-items-center">
                <mat-icon class="me-2 head">language</mat-icon>
                <h2 class="my-auto title">Language</h2>
            </div>
            <div class="col-4 col-sm-3 flex-end">
                <button class="add_user ms-auto">
                    + Add Language
                </button>
            </div>
        </div>
        <div class="row mt-2 mt-lg-4">
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <label>Select Language</label>
                    </div>
                </div>
                <div class="row mt-2 content content-top">
                    <div class="col-md-4 my-auto">
                        Language
                    </div>
                    <div class="col-sm-2 my-auto">
                        <mat-checkbox class="example-margin" checked>Read</mat-checkbox> 
                    </div>
                    <div class="col-sm-2 my-auto">
                        <mat-checkbox class="example-margin" checked>Write</mat-checkbox> 
                    </div>
                    <div class="col-sm-2 my-auto">
                        <mat-checkbox class="example-margin" checked>Speak</mat-checkbox> 
                    </div>
                    <div class="col-sm-2 my-auto">
                        Proficiency
                    </div>
                </div>
                <div class="row mt-2 content">
                    <div class="col-md-4 my-auto">
                        <mat-form-field class="select-language" appearance="outline">
                            <mat-select placeholder="English">
                                <mat-option value="option">English</mat-option>
                                <mat-option value="option">Portugese</mat-option>
                            </mat-select>
                            <mat-icon matSuffix class="arrow">keyboard_arrow_down</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-2 my-auto">
                        <mat-checkbox class="example-margin" checked></mat-checkbox> 
                    </div>
                    <div class="col-sm-2 my-auto">
                        <mat-checkbox class="example-margin" checked></mat-checkbox> 
                    </div>
                    <div class="col-sm-2 my-auto">
                        <mat-checkbox class="example-margin" checked></mat-checkbox> 
                    </div>
                    <div class="col-sm-2 my-auto">
                        <mat-form-field class="select-proficiency"appearance="outline">
                            <mat-select placeholder="Expert">
                                <mat-option value="option">Expert</mat-option>
                                <mat-option value="option">Beginner</mat-option>
                            </mat-select>
                            <mat-icon matSuffix class="arrow">keyboard_arrow_down</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <hr class="mt-0">
                <div class="row mt-2 content">
                    <div class="col-md-4 my-auto">
                        <mat-form-field class="select-language" appearance="outline">
                            <mat-select placeholder="Portugese">
                                <mat-option value="option">English</mat-option>
                                <mat-option value="option">Portugese</mat-option>
                            </mat-select>
                            <mat-icon matSuffix class="arrow">keyboard_arrow_down</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-2 my-auto">
                        <mat-checkbox class="example-margin" checked></mat-checkbox> 
                    </div>
                    <div class="col-sm-2 my-auto">
                        <mat-checkbox class="example-margin" checked></mat-checkbox> 
                    </div>
                    <div class="col-sm-2 my-auto">
                        <mat-checkbox class="example-margin"></mat-checkbox> 
                    </div>
                    <div class="col-sm-2 my-auto">
                        <mat-form-field class="select-proficiency"appearance="outline">
                            <mat-select placeholder="Beginner">
                                <mat-option value="option">Expert</mat-option>
                                <mat-option value="option">Beginner</mat-option>
                            </mat-select>
                            <mat-icon matSuffix class="arrow">keyboard_arrow_down</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <hr class="mt-0">
            </div>
        </div>
    </div>
</div>
<!-- End Language -->

<!-- Language (Mobile View) -->
<div class="row mx-1 my-4" class="add-language-mobile-view" id="language">
    <div class="col personal_details bg-white">
        <div class="row">
            <div class="col-6 icon-title my-auto d-flex align-items-center">
                <mat-icon class="me-2 head">language</mat-icon>
                <h2 class="my-auto title">Language</h2>
            </div>
            <div class="col-6 flex-end">
                <a class="add_user ms-auto">
                    + Add Language
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <div class="row content">
                    <div class="col">
                        <span>English</span><br />
                        Read, Write, Speak
                    </div>
                </div>
                <div class="row mt-2 content">
                    <div class="col">
                        <span>Hindi</span><br />
                        Read, Speak
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Mobile View -->