::ng-deep {
    .add-language {
        border: 1px solid #EBEAED;
        background: #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.03);
        margin: 15px 0 30px 0;
        display:flex;

        .mat-icon.head {
            color: #1F47F5;
        }

        .add_user {
            color: #00A46C;
            border: none;
            font-weight:normal;
        }

        .mat-checkbox-checked.mat-accent .mat-checkbox-background {
            background-color: #1F47F5 !important;
        }

        .content-top {
            border: 1px solid #EBEAED;
            padding: 6px;
            color: #84818A;
            font-weight: normal;
            box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.03);
            background:#ffffff;
        }

        .mat-checkbox-label {
            color: #84818A;
        }
        .mat-select-arrow {
            opacity: 0;
        }
    
        .mat-icon.arrow {
            color: #84818A;
            height: 13px;
            width: 13px;
        }
        
        mat-form-field.select-language {
            width: 80%;
        }
        mat-form-field.select-proficiency {
            width: 100%;
        }
        .mat-stroked-button{
            font-size:13px!important;
        }
    }
}



::ng-deep {
    .add-language-mobile-view {
        display:none;
        .mat-icon.head {
            color: #1F47F5;
        }
        .add_user {
            color: #00A46C!important;
            border: none;
        }
    }
}

@media(max-width:700px){
    .add-language {
        display:none;
    }
    .add-language-mobile-view {
        display:flex;
    }
}