<!-- Certificate -->
<div class="row mx-1 my-4" class="add-certificate" id="certificates">
    <div class="col personal_details bg-white">
        <div class="row">
            <div class="col-6 icon-title d-flex align-items-center">
                <mat-icon class="me-2 head">insert_drive_file</mat-icon>
                <h2 class="my-auto">Certificate</h2>
            </div>
            <div class="col-6 flex-end">
                <button class="add_user">
                    + Add Certificate
                </button>
            </div>
        </div>
        <div class="row mt-2 mt-lg-4">
            <div class="col-12">
                <div class="row mt-2 content">
                    <div class="col-9 col-md-10">
                        <h6>Enterprise Training on Python Programming</h6>
                        <i class="fa fa-calendar icon-calendar me-2" aria-hidden="true"></i>
                        <span class="content_education">January 2019 to August2019 (4 months)</span>
                    </div>
                    <div class="col-3 col-md-2 my-auto responsive-layout flex-end">
                        <i class="fa fa-pencil icon-pencil mx-2" aria-hidden="true"></i>
                        <i class="fa fa-trash icon-trash mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <hr class="d-none d-lg-block">
                <div class="row mt-2 content">
                    <div class="col-9 col-md-10">
                        <h6>Java Entriprise Edition Pro</h6>
                        <i class="fa fa-calendar icon-calendar me-2" aria-hidden="true"></i>
                        <span class="content_education">January 2019 to August 2019 (4 months)</span>
                    </div>
                    <div class="col-3 col-md-2 my-auto responsive-layout flex-end">
                        <i class="fa fa-pencil icon-pencil mx-2" aria-hidden="true"></i>
                        <i class="fa fa-trash icon-trash mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <hr class="d-none d-lg-block">
            </div>
        </div>
        <div class="row add-certificate-form">
            <div class="col-12">
                <div class="row">
                    <h3>Add Certificate</h3>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label for="">Cource Name</label>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="eg UI/UX Designer">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <label for="">Attach Certificate</label>
                        <mat-form-field floatLabel="never" appearance="outline">
                            <input matInput placeholder="Pdf,doc,word">
                            <!-- <mat-icon matSuffix>arrow_upward</mat-icon> -->
                            <div matSuffix class="upload-certificate">
                                <img src="../assets/media/upload-arrow.png" alt="">
                            </div>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end">
                        <button mat-stroked-button>Cancel</button>
                        <button mat-stroked-button class="ms-2 certificate-btn">Add Certificate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Certificate -->