<div class="row email-chat">
    <div class="col-12">
        <div class="row">
            <div class="col">
                <div class="row email-top">
                    <div class="col-9 d-flex">
                        <img src="../assets/media/avatar.png" alt="" class="avatar">
                        <h2 class="my-auto">Riley Cooper</h2>
                    </div>
                    <div class="col-3 flex-end my-auto">
                        <mat-icon class="me-2">reply</mat-icon>
                        <mat-icon class="me-2"> local_printshop</mat-icon>
                        <mat-icon>delete</mat-icon>
                    </div>
                </div>
                <div class="row email-bottom">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-6 d-flex">
                                <img src="../assets/media/avatar.png" alt="" class="avatar">
                                <div>
                                    <p class="my-auto">Riley Cooper</p>
                                    <small>aiden@example.com</small>
                                </div>
                            </div>
                            <div class="col-md-6 flex-end my-auto mt-2 mt-lg-0">
                                <p class="me-4">02 October 2021 12:39</p>
                                <mat-icon class="me-2">reply</mat-icon>
                                <mat-icon class="me-2"> local_printshop</mat-icon>
                                <mat-icon>delete</mat-icon>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col d-flex">
                                <img src="../assets/media/avatar.png" alt="" class="avatar" style="visibility: hidden;">
                                <div>
                                <p>Hi,</p>
                                <p>
                                    Train hard. Stay dry. This soccer jacket is made of soft, sweat-wicking fabric that keeps you moving on the practice field. Stretch panels at the elbows and sides give you a full range of motion as you work.<br><br>
                                    Candidate Link will be sent
                                </p>
                                    <p>Signature<br/> 
                                        Talent Recruit</p>
                                </div> 
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 d-flex">
                                <img src="../assets/media/avatar.png" alt="" class="avatar">
                                <div>
                                    <p class="my-auto">Danny Gomes</p>
                                    <small>aiden@example.com</small>
                                </div>
                            </div>
                            <div class="col-md-6 flex-end my-auto my-auto mt-2 mt-lg-0">
                                <p class="me-4">02 October 2021 12:39</p>
                                <mat-icon class="me-2">reply</mat-icon>
                                <mat-icon class="me-2"> local_printshop</mat-icon>
                                <mat-icon>delete</mat-icon>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col d-flex">
                                <img src="../assets/media/avatar.png" alt="" class="avatar" style="visibility: hidden;">
                                <div>
                                <p>Hi,</p>
                                <p>
                                    Good to hear form you ...
                                </p>
                                <a href="">see more</a>
                                </div> 
                            </div>
                        </div>
                        <button mat-mini-fab class="mini-fab-btn" aria-label="Example icon button with a menu icon">3</button>
                        <hr class="hr-right">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>