<div class="row" id="advanced-filter">
    <div class="col-12">
        <div class="row">
            <div class="col d-flex justify-content-between">
                <mat-icon class="filter-list">filter_list</mat-icon>
                <p class="me-2 filter">Advanced Filters</p>
                <div class="d-flex flex-end">
                    <mat-icon class="file me-2">insert_drive_file</mat-icon>
                    <mat-icon class="backspace">keyboard_backspace</mat-icon>
                </div>
            </div>
            <hr class="hr">
        </div>
        <div class="row my-2">
            <div class="col">
                <div class="justify-between">
                    <div class="keyword">Keyword</div>
                    <div class="d-flex">
                        <div>
                            <mat-icon class="active-icon">fiber_manual_record</mat-icon>
                            <span class="contains">Contains</span>
                        </div>
                        <div>
                            <button class="mat-menu" mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <mat-icon>dialpad</mat-icon>
                                    <span>Redial</span>
                                </button>
                                <button mat-menu-item disabled>
                                    <mat-icon>voicemail</mat-icon>
                                    <span>Check voice mail</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>not1ifications_off</mat-icon>
                                    <span>Disable alerts</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
                <div class="my-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput placeholder="Type a Keyword">
                    </mat-form-field>
                    <div class="align-center mt-2">
                        <mat-icon class="circle me-2 my-auto">check_circle</mat-icon>
                        <span class="blue">Apply Boolean</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-12">
                <div class="justify-between">
                    <div class="keyword">Exclude Keywords</div>
                    <div class="d-flex">
                        <div>
                            <mat-icon class="active-icon">fiber_manual_record</mat-icon>
                            <span class="contains">Contains</span>
                        </div>
                        <div>
                            <button class="mat-menu" mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <mat-icon>dialpad</mat-icon>
                                    <span>Redial</span>
                                </button>
                                <button mat-menu-item disabled>
                                    <mat-icon>voicemail</mat-icon>
                                    <span>Check voice mail</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>not1ifications_off</mat-icon>
                                    <span>Disable alerts</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
                <div class="my-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput placeholder="Type a Keyword">
                    </mat-form-field>
                    <div class="align-center mt-2">
                        <mat-icon class="circle me-2 my-auto">check_circle</mat-icon>
                        <span class="blue">Apply Boolean</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                <div class="justify-between">
                    <div class="align-center">
                        <mat-icon class="me-2">donut_large</mat-icon>
                        <span class="keyword">Area</span>
                    </div>
                    <div>
                        <button mat-button [matMenuTriggerFor]="menu" class="dropdown-right">
                            <span class="contains">Kilometer <mat-icon>keyboard_arrow_down</mat-icon></span>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>All</button>
                            <button mat-menu-item>Specific</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="w-100">
                    <mat-slider aria-label="unit(s)"></mat-slider>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                <div class="justify-between">
                    <div class="keyword">Job Title</div>
                    <div class="d-flex">
                        <div>
                            <mat-icon class="active-icon">fiber_manual_record</mat-icon>
                            <span class="contains">Contains</span>
                        </div>
                        <div>
                            <button class="mat-menu" mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <mat-icon>dialpad</mat-icon>
                                    <span>Redial</span>
                                </button>
                                <button mat-menu-item disabled>
                                    <mat-icon>voicemail</mat-icon>
                                    <span>Check voice mail</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>notifications_off</mat-icon>
                                    <span>Disable alerts</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
                <div class="my-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput placeholder="Type a Keyword">
                    </mat-form-field>
                    <div class="align-center mt-2">
                        <mat-icon class="circle me-2 my-auto">check_circle</mat-icon>
                        <span class="blue">Apply Boolean</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                <span class="keyword">Candidate Type</span>
                <section class="example-section">
                    <span class="example-list-section contains">
                        <mat-checkbox class="example-margin mt-1">All</mat-checkbox><br />
                        <mat-checkbox class="example-margin mt-1 mat-check" checked>External</mat-checkbox><br />
                        <mat-checkbox class="example-margin mt-1">Internal</mat-checkbox>
                    </span>
                </section>
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                <div class="justify-between my-2">
                    <div class="blue">Work remotely </div>
                    <div>
                        <mat-slide-toggle checked></mat-slide-toggle>
                    </div>
                </div>
                <div class="justify-between my-2">
                    <div class="blue">
                        Show recommended candidate only
                    </div>
                    <div>
                        <mat-slide-toggle></mat-slide-toggle>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr">
        <mat-nav-list class="filter-list-item">
            <a mat-list-item>
                <span class="w-100 d-flex justify-content-between">
                    <span class="d-flex align-items-center">
                        <mat-icon class="example-tab-icon me-2">card_travel</mat-icon>
                        <span class="keyword">Professional</span>
                    </span>
                    <span>
                        <mat-icon class="arrow-right">keyboard_arrow_right</mat-icon>
                    </span>
                </span>
            </a>
            <hr class="hr-margin">
            <a mat-list-item>
                <span class="w-100 d-flex justify-content-between">
                    <span class="d-flex align-items-center">
                        <mat-icon class="example-tab-icon me-2">book</mat-icon>
                        <span class="keyword">Education</span>
                    </span>
                    <span>
                        <mat-icon class="arrow-right">keyboard_arrow_right</mat-icon>
                    </span>
                </span>
            </a>
            <hr class="hr-margin">
            <a mat-list-item>
                <span class="w-100 d-flex justify-content-between">
                    <span class="d-flex align-items-center">
                        <mat-icon class="me-2">person_pin</mat-icon>
                        <span class="keyword">Personal Info</span>
                    </span>
                    <span>
                        <mat-icon class="arrow-right">keyboard_arrow_right</mat-icon>
                    </span>
                </span>
            </a>
            <hr class="hr-margin">
            <a mat-list-item>
                <span class="w-100 d-flex justify-content-between">
                    <span class="d-flex align-items-center">
                        <mat-icon class="me-2">attach_money</mat-icon>
                        <span class="keyword">Salary</span>
                    </span>
                    <span>
                        <mat-icon class="arrow-right">keyboard_arrow_right</mat-icon>
                    </span>
                </span>
            </a>
            <hr class="hr-margin">
            <a mat-list-item>
                <span class="w-100 d-flex justify-content-between">
                    <span class="d-flex align-items-center">
                        <mat-icon class="me-2">location_on</mat-icon>
                        <span class="keyword">Location</span>
                    </span>
                    <span>
                        <mat-icon class="arrow-right">keyboard_arrow_right</mat-icon>
                    </span>
                </span>
            </a>
            <hr class="hr-margin">
            <a mat-list-item>
                <span class="w-100 d-flex justify-content-between">
                    <span class="d-flex align-items-center">
                        <mat-icon class="me-2">build</mat-icon>
                        <span class="keyword">Others</span>
                    </span>
                    <span>
                        <mat-icon class="arrow-right">keyboard_arrow_right</mat-icon>
                    </span>
                </span>
            </a>
            <hr class="hr-margin">
        </mat-nav-list>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button mat-stroked-button class="apply-filter w-100">Apply Filter</button>
        <div class="row mt-2">
            <div class="col  d-flex justify-content-center align-items center">
                <mat-icon class="circle me-2 my-auto">check_circle</mat-icon>
                <span class="blue">Save this filter</span>
            </div>
        </div>
    </div>
</div>