<!-- Personal Details -->
<div class="row mx-1 my-4">
    <div class="col personal_details bg-white">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-10 icon-title">
                <i class="fa fa-user me-2" aria-hidden="true"></i>
                <b>Personal Details</b>
            </div>
            <div class="col-10 col-md-4 col-lg-2 flex-end d-none d-md-flex">
                <button class="edit_user">
                    Edit <i class="fa fa-pencil ms-2" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <label>Name</label><br>
                        <input type="text" name="" id="" value="Daniel Jones" disabled>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <label>Email Address</label><br>
                        <input type="email" name="" id="" value="daniel@gmail.com" disabled>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <label>Mobile</label><br>
                        <input type="text" name="" id="" value="+91 9876543210" disabled>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <label>Gender</label><br>
                        <input type="text" name="" id="" value="Male" disabled>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <label>Date of Birth</label><br>
                        <input type="text" name="" id="" value="27 July 1999" disabled>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <label>Age</label><br>
                        <input type="text" name="" id="" value="25 years 3 months" disabled>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <label>Address</label><br>
                <textarea class="w-100" name="address" rows="2" disabled>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit adipiscing hendrerit vitae duis ut nunc, mauris sit lorem. Morbi elementum quam nibh cursus ac pretium. Posuere aliquet risus viverra egestas.
                    </textarea>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <label>Industry</label><br>
                        <input type="text" name="" id="" value="Information Technology" disabled>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <label>Functional Area</label><br>
                        <input type="text" name="" id="" value="Development" disabled>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <label>Current Organization</label><br>
                        <input type="text" name="" id="" value="Tata Consultancy Service" disabled>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <label>Current Designation</label><br>
                        <input type="text" name="" id="" value="Sr. Software Developer" disabled>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <label>Preffered Location</label><br>
                        <input type="text" name="" id="" value="Mumbai" disabled>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <label>Current Location</label><br>
                        <input type="text" name="" id="" value="Delhi" disabled>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <label>Nationality</label><br>
                        <input type="text" name="" id="" value="Indian" disabled>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <label>Notice Period</label><br>
                        <input type="text" name="" id="" value="3 months" disabled>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <label>Relocate</label><br>
                        <input type="text" name="" id="" value="Yes" disabled>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <label>Maritial Status</label><br>
                        <input type="text" name="" id="" value="Unmarried" disabled>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <label>Source</label><br>
                        <input type="text" name="" id="" value="LinkedIn" disabled>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-between">
                            <label>Video Resume</label><span class="link">
                                <i class="fa fa-link ms-auto me-2 my-auto" aria-hidden="true"></i><b>Copy Link</b>
                            </span><br>
                        </div>
                        <input type="text" name="" id="" value="https://www.figma.com/file/euM2..." disabled>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg">
                        <label>Work Authorization</label>
                        <div class="d-lg-flex flex-lg-row">
                            <div class="vector-tag mx-2 "><span class="mx-2">Example Tag
                                    1</span><i class="fa fa-times"></i></div>
                            <div class="vector-tag mx-2"><span class="mx-2">Example Tag
                                    2</span><i class="fa fa-times"></i></div>
                            <div class="vector-tag mx-2"><span class="mx-2">Example Tag
                                    3</span><i class="fa fa-times"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <label>PAN Number</label><br>
                        <input type="text" name="" id="" value="Pan-123456" disabled>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <label>Aadhar Number</label><br>
                        <input type="text" name="" id="" value="1234-5478-9874-1200" disabled>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <label>Passport Number</label><br>
                        <input type="text" name="" id="" value="987456212324598" disabled>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <label class="d-flex flex-row">
                            <div class="social_icon"><i class="fa fa-linkedin-square"></i></div>
                            Linkdln
                        </label>
                        <input type="text" name="" id="" value="daniel-jones" disabled>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <label class="d-flex flex-row">
                            <div class="social_icon"><i class="fa fa-facebook"></i>
                            </div>Facebook
                        </label>
                        <input type="text" name="" id="" value="daniel-jones" disabled>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <label class="d-flex flex-row">
                            <div class="social_icon"><i class="fa fa-twitter"></i></div>
                            Twitter
                        </label>
                        <input type="text" name="" id="" value="daniel-jones" disabled>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <label class="d-flex flex-row">
                            <div class="social_icon"><i class="fa fa-globe"></i></div>
                            Website
                        </label>
                        <input type="text" name="" id="" value="www.awesomeDummyWebsite/daniel-jones/" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Personal Details -->

<!-- Language -->
<div class="row mx-1 my-4 d-none d-lg-flex">
    <div class="col personal_details bg-white">
        <div class="row">
            <div class="col-8 col-sm-10 icon-title d-flex align-items-center">
                <mat-icon class="me-2 head">language</mat-icon>
                <b class="my-auto title">Language</b>
            </div>
            <div class="col-4 col-sm-2 flex-end">
                <button class="add_user ms-auto">
                    Add
                </button>
            </div>
        </div>
        <div class="row mt-2 mt-lg-4">
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <label>Language Known</label>
                    </div>
                </div>
                <div class="row mt-2 content">
                    <div class="col-md-4">
                        English
                    </div>
                    <div class="col-sm-2">
                        Read
                    </div>
                    <div class="col-sm-2">
                        Write
                    </div>
                    <div class="col-sm-2">
                        Speak
                    </div>
                    <div class="col-sm-2">
                        Excellent
                    </div>
                </div>
                <div class="row mt-2 content">
                    <div class="col-md-4">
                        Portuguese
                    </div>
                    <div class="col-sm-2">
                        ----
                    </div>
                    <div class="col-sm-2">
                        ----
                    </div>
                    <div class="col-sm-2">
                        Speak
                    </div>
                    <div class="col-sm-2">
                        Intermediate
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mx-1 my-4 d-lg-none">
    <div class="col personal_details bg-white">
        <div class="row">
            <div class="col-6 icon-title my-auto d-flex align-items-center">
                <mat-icon class="me-2 head">language</mat-icon>
                <b class="my-auto title">Language</b>
            </div>
            <div class="col-6 flex-end">
                <a class="add_user ms-auto">
                    + Add Language
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <div class="row content">
                    <div class="col">
                        <span>English</span><br />
                        Read, Write, Speak
                    </div>
                </div>
                <div class="row mt-2 content">
                    <div class="col">
                        <span>Hindi</span><br />
                        Read, Speak
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Language -->

<!-- Education -->
<div class="row mx-1 my-4">
    <div class="col personal_details bg-white">
        <div class="row">
            <div class="col-6 icon-title d-flex align-items-center">
                <mat-icon class="me-2 head">file_copy</mat-icon>
                <b class="my-auto">Education</b>
            </div>
            <div class="col-6 flex-end">
                <button class="add_user d-none d-lg-flex">
                    Add
                </button>
                <a class="add_user ms-auto d-lg-none">
                    + Add Education
                </a>
            </div>
        </div>
        <div class="row mt-2 mt-lg-4">
            <div class="col-12">
                <div class="row mt-2 content">
                    <div class="col-9 col-md-10">
                        <h6>Bachelor’s Degree In Computer Engineering at Heritage
                            Collage</h6>
                        <i class="fa fa-calendar icon-calendar me-2" aria-hidden="true"></i>
                        <span class="content_education">January 2019 to August
                            2021</span>
                    </div>
                    <div class="col-3 col-md-2 my-auto responsive-layout flex-end">
                        <i class="fa fa-pencil icon-pencil mx-2" aria-hidden="true"></i>
                        <i class="fa fa-trash icon-trash mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <hr class="d-none d-lg-block">
                <div class="row mt-2 content">
                    <div class="col-9 col-md-10">
                        <h6>Diploma in Computer Science & Technology at GCELT</h6>
                        <i class="fa fa-calendar icon-calendar me-2" aria-hidden="true"></i>
                        <span class="content_education">January 2019 to August
                            2021</span>
                    </div>
                    <div class="col-3 col-md-2 my-auto responsive-layout flex-end">
                        <i class="fa fa-pencil icon-pencil mx-2" aria-hidden="true"></i>
                        <i class="fa fa-trash icon-trash mx-2" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Education -->

<!-- Projects -->
<div class="row mx-1 my-4">
    <div class="col personal_details bg-white">
        <div class="row">
            <div class="col-6 icon-title">
                <i class="fa fa-wrench me-2" aria-hidden="true"></i>
                <b class="my-auto">Projects</b>
            </div>
            <div class="col-6 flex-end">
                <button class="add_user d-none d-lg-flex">
                    Add
                </button>
                <a class="add_user ms-auto d-lg-none">
                    + Add Projects
                </a>
            </div>
        </div>
        <div class="row mt-2 mt-lg-4">
            <div class="col-12">
                <div class="row mt-2 content">
                    <div class="col-9 col-md-10">
                        <h6>Advance AI Operations</h6>
                        <i class="fa fa-calendar icon-calendar me-2" aria-hidden="true"></i>
                        <span class="content_education">January 2019 to August
                            2021</span>
                    </div>
                    <div class="col-3 col-md-2 my-auto responsive-layout flex-end">
                        <i class="fa fa-pencil icon-pencil mx-2" aria-hidden="true"></i>
                        <i class="fa fa-trash icon-trash mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <hr class="d-none d-lg-block">
                <div class="row mt-2 content">
                    <div class="col-9 col-md-10">
                        <h6>Journey To The Mars</h6>
                        <i class="fa fa-calendar icon-calendar me-2" aria-hidden="true"></i>
                        <span class="content_education">January 2019 to August
                            2021</span>
                    </div>
                    <div class="col-3 col-md-2 my-auto responsive-layout flex-end">
                        <i class="fa fa-pencil icon-pencil mx-2" aria-hidden="true"></i>
                        <i class="fa fa-trash icon-trash mx-2" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Projects -->

<!-- Experience -->
<div class="row mx-1 my-4">
    <div class="col personal_details bg-white">
        <div class="row">
            <div class="col-6 icon-title">
                <i class="fa fa-briefcase me-2" aria-hidden="true"></i>
                <b class="my-auto">Experience</b>
            </div>
            <div class="col-6 flex-end">
                <button class="add_user d-none d-lg-flex">
                    Add
                </button>
                <a class="add_user ms-auto d-lg-none">
                    + Add Experience
                </a>
            </div>
        </div>
        <div class="row mt-md-4">
            <div class="col-12">
                <div class="row mt-2 content">
                    <div class="col-9 col-md-10">
                        <h6>UI/UX Designer at Tata Consultancy Services</h6>
                        <i class="fa fa-calendar icon-calendar me-2" aria-hidden="true"></i>
                        <span class="content_education">January 2021 to August 2022 (1
                            year)</span>
                    </div>
                    <div class="col-3 col-md-2 my-auto responsive-layout flex-end">
                        <i class="fa fa-pencil icon-pencil mx-2" aria-hidden="true"></i>
                        <i class="fa fa-trash icon-trash mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <hr class="d-none d-lg-block">
                <div class="row mt-2 content">
                    <div class="col-9 col-md-10">
                        <h6>UI/UX Designer at IBM</h6>
                        <i class="fa fa-calendar icon-calendar me-2" aria-hidden="true"></i>
                        <span class="content_education">January 2017 to August
                            2019 (2 Years)
                        </span>
                    </div>
                    <div class="col-3 col-md-2 my-auto responsive-layout flex-end">
                        <i class="fa fa-pencil icon-pencil mx-2" aria-hidden="true"></i>
                        <i class="fa fa-trash icon-trash mx-2" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Experience -->

<!-- Salary -->
<div class="row mx-1 my-4">
    <div class="col personal_details bg-white">
        <div class="row">
            <div class="col-7 icon-title">
                <i class="fa fa-usd me-2" aria-hidden="true"></i>
                <b class="my-auto">Salary Details</b>
            </div>
            <div class="col-5 flex-end">
                <button class="add_user d-none d-lg-flex">
                    Add
                </button>
                <a class="add_user ms-auto d-lg-none">
                    + Add Salary
                </a>
            </div>
        </div>
        <div class="row mt-2 mt-lg-4 d-none d-lg-block">
            <div class="col-12">
                <div class="row mt-2 content">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col">
                                <label>Current Salary</label><br>
                                <input type="text" name="" id="" value="$ 12,000 / Year" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col">
                                <label>Fixed Salary</label><br>
                                <input type="text" name="" id="" value="$ 11,000" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col">
                                <label>Variable Salary</label><br>
                                <input type="text" name="" id="" value="$ 500" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mt-2 content">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col">
                                <label>Other Salary</label><br>
                                <input type="text" name="" id="" value="$ 500" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col">
                                <label>Expected Salary</label><br>
                                <input type="text" name="" id="" value="$ 15,000" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2 mt-lg-4 d-lg-none">
            <div class="col">
                <div class="row mt-2 content">
                    <div class="col-9 col-md-10">
                        <div class="row">
                            <div class="col">
                                <h6>Current Salary - <span class="content_salary">INR 5.2 LPA</span></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6>Fixed Salary - <span class="content_salary">INR 5.2 LPA</span></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6>Variable Salary - <span class="content_salary">NA</span></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6>Other Salary - <span class="content_salary">NA</span></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6>Expected Salary - <span class="content_salary">INR 7.5 LPA </span></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-md-2 my-auto responsive-layout flex-end">
                        <i class="fa fa-pencil icon-pencil mx-2" aria-hidden="true"></i>
                        <i class="fa fa-trash icon-trash mx-2" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Salary -->

<!-- Skills -->
<div class="row mx-1 my-4">
    <div class="col personal_details bg-white">
        <div class="row">
            <div class="col-6 icon-title">
                <i class="fa fa-user-secret me-2" aria-hidden="true"></i>
                <b class="my-auto title">Skills</b>
            </div>
            <div class="col-6 flex-end">
                <button class="add_user d-none d-lg-block">
                    Add
                </button>
                <a class="add_user ms-auto d-lg-none">
                    + Add Skills
                </a>
            </div>
        </div>
        <div class="row mt-2 mt-lg-4 d-none d-lg-flex">
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <label>Work Authrization</label>
                    </div>
                </div>
                <div class="row mt-2 content content_authrization">
                    <div class="col-12 col-md-6 col-lg d-lg-flex flex-lg-row">
                        <div class="vector mx-2"><span class="mx-2">Example Tag
                                1</span><i class="fa fa-times"></i></div>
                        <div class="vector mx-2"><span class="mx-2">Example Tag
                                2</span><i class="fa fa-times"></i></div>
                        <div class="vector mx-2"><span class="mx-2">Example Tag
                                3</span><i class="fa fa-times"></i></div>
                        <div class="vector mx-2"><span class="mx-2">Example Tag
                                4</span><i class="fa fa-times"></i></div>
                        <div class="vector mx-2"><span class="mx-2">Example Tag
                                5</span><i class="fa fa-times"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2 mt-lg-4 d-lg-none">
            <div class="col-12">
                <div class="row mt-2 content content_authrization">
                    <div class="col-9 col-md-10">
                        <span class="mx-2">Example Tag 1</span>
                    </div>
                    <div class="col-3 col-md-2 my-auto responsive-layout flex-end">
                        <i class="fa fa-pencil icon-pencil mx-2" aria-hidden="true"></i>
                        <i class="fa fa-trash icon-trash mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row mt-2 content content_authrization">
                    <div class="col-9 col-md-10">
                        <span class="mx-2">Example Tag 2</span>
                    </div>
                    <div class="col-3 col-md-2 my-auto responsive-layout flex-end">
                        <i class="fa fa-pencil icon-pencil mx-2" aria-hidden="true"></i>
                        <i class="fa fa-trash icon-trash mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row mt-2 content content_authrization">
                    <div class="col-9 col-md-10">
                        <span class="mx-2">Example Tag 3</span>
                    </div>
                    <div class="col-3 col-md-2 my-auto responsive-layout flex-end">
                        <i class="fa fa-pencil icon-pencil mx-2" aria-hidden="true"></i>
                        <i class="fa fa-trash icon-trash mx-2" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Skills -->

<!-- Certificate -->
<div class="row mx-1 my-4">
    <div class="col personal_details bg-white">
        <div class="row">
            <div class="col-6 icon-title">
                <i class="fa fa-file me-2" aria-hidden="true"></i>
                <b class="my-auto">Certificate</b>
            </div>
            <div class="col-6 flex-end">
                <button class="add_user d-none d-lg-flex">
                    Add
                </button>
                <a class="add_user ms-auto d-lg-none">
                    + Add Certificates
                </a>
            </div>
        </div>
        <div class="row mt-2 mt-lg-4 d-none d-lg-flex">
            <div class="col-12">
                <div class="row mt-2 content">
                    <div class="col-md-10">
                        <h6>Java Enterprise Edition at Ardent Training Institute</h6>
                        <i class="fa fa-calendar icon-calendar me-2" aria-hidden="true"></i>
                        <span class="content_education">January 2021 to March 2021 (3
                            months)</span>
                    </div>
                    <div class="col-md-2 my-auto responsive-layout flex-end">
                        <i class="fa fa-pencil icon-pencil mx-2" aria-hidden="true"></i>
                        <i class="fa fa-trash icon-trash mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <hr>
                <div class="row mt-2 content">
                    <div class="col-md-10">
                        <h6>UI/UX Designer at Adobe</h6>
                        <i class="fa fa-calendar icon-calendar me-2" aria-hidden="true"></i>
                        <span class="content_education">January 2017 to August
                            2018 (8 months)</span>
                    </div>
                    <div class="col-md-2 my-auto responsive-layout flex-end">
                        <i class="fa fa-pencil icon-pencil mx-2" aria-hidden="true"></i>
                        <i class="fa fa-trash icon-trash mx-2" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2 mt-lg-4 d-lg-none">
            <div class="col-12">
                <div class="row mt-2 content">
                    <div class="col-2 col-md-1 my-auto">
                        <img src="../assets/media/pdf.png" alt="pdf" class="img-fluid">
                    </div>
                    <div class="col-8 col-md-8 p-0">
                        <span class="content_education">Python Training Certificate<br />by
                            (task.com).pdf</span>
                    </div>
                    <div class="col-2 col-md-2 my-auto responsive-layout flex-end">
                        <i class="fa fa-pencil icon-pencil mx-2" aria-hidden="true"></i>
                        <i class="fa fa-download icon-download mx-2" aria-hidden="true"></i>
                        <i class="fa fa-trash icon-trash mx-2" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row mt-2 content">
                    <div class="col-2 col-md-1 my-auto">
                        <img src="../assets/media/pdf.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-8 col-md-8 p-0">
                        <span class="content_education">Python Training Certificate<br />by
                            (task.com).pdf</span>
                    </div>
                    <div class="col-2 col-md-2 my-auto responsive-layout flex-end">
                        <i class="fa fa-pencil icon-pencil mx-2" aria-hidden="true"></i>
                        <i class="fa fa-download icon-download mx-2" aria-hidden="true"></i>
                        <i class="fa fa-trash icon-trash mx-2" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Certificate -->