.mat-icon{
    border:1px solid #EBEAED;
    border-radius:50%;
    height:40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
::ng-deep .list-item .mat-list-item .mat-list-item-content{
    padding:0px;
}
::ng-deep .mat-list-base .mat-list-item:hover{
    text-decoration:none;
    background:white;
}
::ng-deep .mat-list-base .mat-list-item:focus{
    text-decoration:none;
    background:white;
}
// .active-list-item {
//     color: #3F51B5 !important; /* Note: You could also use a custom theme */
//     background:red;
// }
// .mat-nav-list .mat-list-item.active {
//     color: #3f51b5;
//     background-color: none;
// }
.mat-nav-list a.active span {
    color: #1F47F5;
}
// .mat-list-item.active{
//     color: red;
//   }