<mat-nav-list class="list-item">
    <a mat-list-item (click)="navigateTo('details')" class="active">
        <span class="d-flex align-items-center">
            <mat-icon class="example-tab-icon me-2">person</mat-icon>
            Personal Details
        </span>
    </a>
    <hr>
    <a mat-list-item (click)="navigateTo('language')">
        <mat-icon class="example-tab-icon me-2">language</mat-icon>
        Language
    </a>
    <hr>
    <a mat-list-item (click)="navigateTo('education')">
        <mat-icon class="me-2">insert_drive_file</mat-icon>
        Education
    </a>
    <hr>
    <a mat-list-item (click)="navigateTo('projects')">
        <mat-icon class="me-2">build</mat-icon>
        Projects
    </a>
    <hr>
    <a mat-list-item (click)="navigateTo('experience')">
        <mat-icon class="me-2">card_travel</mat-icon>
        Experience
    </a>
    <hr>
    <a mat-list-item (click)="navigateTo('salary')">
        <mat-icon class="me-2">monetization_on</mat-icon>
        Salary Details
    </a>
    <hr>
    <a mat-list-item (click)="navigateTo('skills')">
        <mat-icon class="me-2">person</mat-icon>
        Skills
    </a>
    <hr>
    <a mat-list-item (click)="navigateTo('certificate')">
        <mat-icon class="me-2">insert_drive_file</mat-icon>
        Certificates
    </a>
</mat-nav-list>