<div id="documetns">
    <div class="row bg-light container-padding container-margin">
        <div class="col-xl-8 col-xxl-9">
            <div class="row mx-1 my-4 d-none d-lg-flex">
                <div class="col personal_details bg-white">
                    <div class="row">
                        <div class="col-12 col-md-8 col-lg-10 icon-title">
                            <i class="fa fa-file me-2 my-auto" aria-hidden="true"></i>
                            <b>Documents</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row document-head mt-3 responsive-layout">
                                <div class="col-12 col-md-6 col-xxl-7 my-auto">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="defaultCheck1">
                                        <label class="form-check-label ms-2" for="defaultCheck1">
                                            <b>2 files selected</b>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-9 col-md-4 col-xxl-3 select-sort mx-auto my-2 my-lg-0">
                                    <select class="form-select" aria-label="Default select example" id="select-sort">
                                        <option selected>Shot By: New Added</option>
                                        <option value="1">Shot By: New Added</option>
                                        <option value="2">Shot By: New Added</option>
                                      </select>
                                </div>
                                <div class="col-12 col-md-2 col-xxl-2 my-auto">
                                    <button class="btn add-doc-file">Add File</button>
                                </div>
                            </div>
                            <div class="row upload-file responsive-layout document-content">
                                <div class="col-12 col-md-4 d-lg-flex flex-lg-row">
                                    <div class="row">
                                        <div class="col-md-1 my-auto">
                                            <input type="checkbox" name="" id="" checked>
                                        </div>
                                        <div class="col-md-3 my-auto">
                                            <img src="../assets/media/pdf.png" alt="pdf"
                                                class="img-fluid pdf-img">
                                        </div> 
                                        <div class="col-md-7 p-0">
                                            <div class="row">
                                                <b>Class 12 Certificate.pdf</b><br>
                                                <small>Added 23 Oct 2021</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 my-auto">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <small>3.2 MB</small>
                                        </div>
                                        <div class="col-md-8">
                                            <small>Updated 23 Oct 2021</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 my-auto">
                                    <div class="row">
                                        <div class="col-md-7 d-lg-flex flex-lg-row">
                                            <img src="../assets/media/avatar.png" alt="avatar"
                                                class="img-fluid me-1 avatar">
                                            <p class="my-auto"><small>Jasson Hodd</small></p>
                                        </div>
                                        <div class="col-md-5 my-auto flex-end">
                                            <i class="fa fa-eye mx-2 icon-eye"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-cloud-download mx-2 icon-cloud"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-share-alt mx-2 icon-share"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row upload-file responsive-layout document-content">
                                <div class="col-12 col-md-4">
                                    <div class="row">
                                        <div class="col-md-1 my-auto">
                                            <input type="checkbox" name="" id="" checked>
                                        </div>
                                        <div class="col-md-3 my-auto">
                                            <img src="../assets/media/gallery.png" alt="gallery"
                                                class="img-fluid gallery-img">
                                        </div>
                                        <div class="col-md-7 p-0">
                                            <div class="row">
                                                <b>Class 12 Certificate.pdf</b><br>
                                                <small>Added 23 Oct 2021</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 my-auto">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <small>1.2 MB</small>
                                        </div>
                                        <div class="col-md-8">
                                            <small>Updated 23 Oct 2021</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 my-auto">
                                    <div class="row">
                                        <div class="col-md-7 d-lg-flex flex-lg-row">
                                            <img src="../assets/media/avatar.png" alt="avatar"
                                                class="img-fluid me-1 avatar">
                                            <p class="my-auto"><small>Jasson Hodd</small></p>
                                        </div>
                                        <div class="col-md-5 my-auto flex-end">
                                            <i class="fa fa-eye mx-2 icon-eye"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-cloud-download mx-2 icon-cloud"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-share-alt mx-2 icon-share"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row upload-file responsive-layout document-content">
                                <div class="col-12 col-md-4 d-lg-flex flex-lg-row">
                                    <div class="row">
                                        <div class="col-md-1 my-auto">
                                            <input type="checkbox" name="" id="">
                                        </div>
                                        <div class="col-md-3 my-auto">
                                            <img src="../assets/media/pdf.png" alt="pdf"
                                                class="img-fluid pdf-img">
                                        </div>
                                        <div class="col-md-7 p-0">
                                            <div class="row">
                                                <b>Class 12 Certificate.pdf</b><br>
                                                <small>Added 23 Oct 2021</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 my-auto">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <small>5.2 MB</small>
                                        </div>
                                        <div class="col-md-8">
                                            <small>Updated 23 Oct 2021</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 my-auto">
                                    <div class="row">
                                        <div class="col-md-7 d-lg-flex flex-lg-row">
                                            <img src="../assets/media/avatar.png" alt="avatar"
                                                class="img-fluid me-1 avatar">
                                            <p class="my-auto"><small>Jasson Hodd</small></p>
                                        </div>
                                        <div class="col-md-5 my-auto flex-end">
                                            <i class="fa fa-eye mx-2 icon-eye"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-cloud-download mx-2 icon-cloud"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-share-alt mx-2 icon-share"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row upload-file responsive-layout document-content">
                                <div class="col-12 col-md-4 d-lg-flex flex-lg-row">
                                    <div class="row">
                                        <div class="col-md-1 my-auto">
                                            <input type="checkbox" name="" id="">
                                        </div>
                                        <div class="col-md-3 my-auto">
                                            <img src="../assets/media/gallery.png" alt="gallery"
                                                class="img-fluid gallery-img">
                                        </div>
                                        <div class="col-md-7 p-0">
                                            <div class="row">
                                                <b>Class 12 Certificate.pdf</b><br>
                                                <small>Added 23 Oct 2021</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 my-auto">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <small>1.2 MB</small>
                                        </div>
                                        <div class="col-md-8">
                                            <small>Updated 23 Oct 2021</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 my-auto">
                                    <div class="row">
                                        <div class="col-md-7 d-lg-flex flex-lg-row">
                                            <img src="../assets/media/avatar.png" alt="avatar"
                                                class="img-fluid me-1 avatar">
                                            <p class="my-auto"><small>Jasson Hodd</small></p>
                                        </div>
                                        <div class="col-md-5 my-auto flex-end">
                                            <i class="fa fa-eye mx-2 icon-eye"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-cloud-download mx-2 icon-cloud"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-share-alt mx-2 icon-share"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 mx-3 document-bottom">
                                <div class="col-12">
                                    <div class="add-file">
                                        <a href=""><i class="fa fa-plus me-2"
                                                aria-hidden="true"></i>Add Or Drop Files here</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-1 my-4 d-lg-none">
                <div class="col personal_details bg-white">
                    <div class="row">
                        <div class="col-6 icon-title">
                            <i class="fa fa-file me-2" aria-hidden="true"></i>
                            <b class="my-auto">Documents</b>
                        </div>
                        <div class="col-6 flex-end">
                            <button class="add_user d-none d-lg-flex">
                                Add
                            </button>
                            <a class="add_user ms-auto d-lg-none">
                                + Add Documents
                            </a>
                        </div>
                    </div> 
                    <div class="row mt-2 mt-lg-4">
                        <div class="col-12">
                            <div class="row mt-2 content">
                                <div class="col-2 col-md-1 my-auto">
                                    <img src="../assets/media/pdf.png" alt="pdf" class="img-fluid">
                                </div>
                                <div class="col-8 col-md-8 p-0 my-auto">
                                    <span class="content_education">Resume.pdf</span>
                                </div>
                                <div class="col-2 col-md-2 my-auto responsive-layout flex-end">
                                    <i class="fa fa-eye mx-2 icon-eye"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-cloud-download mx-2 icon-cloud"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-share-alt mx-2 icon-share"
                                                aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="row mt-2 content">
                                <div class="col-2 col-md-1 my-auto">
                                    <img src="../assets/media/pdf.png" alt="pdf" class="img-fluid">
                                </div>
                                <div class="col-8 col-md-8 p-0 my-auto">
                                    <span class="content_education">Resume.pdf</span>
                                </div>
                                <div class="col-2 col-md-2 my-auto responsive-layout flex-end">
                                    <i class="fa fa-eye mx-2 icon-eye"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-cloud-download icon-cloud-download mx-2 icon-cloud"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-share-alt mx-2 icon-share"
                                                aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-xxl-3">
            <app-right-part></app-right-part>
        </div>
    </div>
</div>