<div id="offers">
    <div class="row container-padding bg-light container-margin">
        <div class="col-xl-8 col-xxl-9">
            <div class="row mx-1 my-4">
                <div class="col personal_details">
                    <div class="row">
                        <div class="col-12 col-md-8 col-lg-9 icon-title">
                            <mat-icon class="example-tab-icon me-2">local_offer</mat-icon>
                            <b>Offers</b>
                        </div>
                        <div class="col-10 col-md-4 col-lg-3 flex-end d-none d-md-flex">
                            <button mat-stroked-button class="ms-2 me-2 add-btn">+ Create Offer</button>
                        </div>
                    </div>
                    <div class="row offer-div my-4">
                        <div class="col-lg-4 offer-left-part">
                            <div class="row">
                                <h1>Senior Software Developer</h1>
                            </div>
                            <div class="row">
                                <div class="col-7 align-center">
                                    <img src="../assets/media/avatar.png" alt="" class="me-2 avatar" style="">
                                    John Watson
                                </div>
                                <div class="col-5 align-center flex-end">
                                    <a href="">Revise Offer</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 offer-right-part">
                            <div class="row">
                                <div class="col-6 align-center d-flex flex-column flex-md-row">
                                    <span class="accepted me-2">Accepted</span>
                                    <span>
                                        <mat-icon class="example-tab-icon notes-icon me-2">insert_drive_file</mat-icon>
                                        5 Notes
                                    </span>
                                </div>
                                <div class="col-6 flex-end">
                                    <button mat-icon-button [matMenuTriggerFor]="menu"
                                        aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item>
                                            <mat-icon>dialpad</mat-icon>
                                            <span>Redial</span>
                                        </button>
                                        <button mat-menu-item disabled>
                                            <mat-icon>voicemail</mat-icon>
                                            <span>Check voice mail</span>
                                        </button>
                                        <button mat-menu-item>
                                            <mat-icon>notifications_off</mat-icon>
                                            <span>Disable alerts</span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                            
                            <div class="row note-details">
                                <div class="col-md-9">
                                    <span class="me-2"><mat-icon class="attach-money me-2">attach_money</mat-icon>USD 100,000 PA</span>
                                    <span><mat-icon class="time me-2">timelapse</mat-icon>30 Nov 2021</span><br>
                                    <div class="mt-1"><span class="light">Designation</span> Software Developer</div>
                                    <div class="mt-1">
                                        <span class="light">Created On</span>  01 Nov 2021
                                        <span class="light">Level</span> Mid Senior
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button mat-stroked-button class="ms-2 me-2 add-btn">View Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row offer-div my-4">
                        <div class="col-lg-4 offer-left-part">
                            <div class="row">
                                <h1>Jr. UI UX Designer</h1>
                            </div>
                            <div class="row">
                                <div class="col-7 align-center">
                                    <img src="../assets/media/avatar.png" alt="" class="me-2 avatar" style="">
                                    John Watson
                                </div>
                                <div class="col-5 align-center flex-end">
                                    <a href="">Revise Offer</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 offer-right-part">
                            <div class="row">
                                <div class="col-6 align-center d-flex flex-column flex-md-row">
                                    <span class="rejected me-2">Rejected</span>
                                    <span>
                                        <mat-icon class="example-tab-icon notes-icon me-2">insert_drive_file</mat-icon>
                                        2 Notes
                                    </span>
                                </div>
                                <div class="col-6 flex-end">
                                    <button mat-icon-button [matMenuTriggerFor]="menu"
                                        aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item>
                                            <mat-icon>dialpad</mat-icon>
                                            <span>Redial</span>
                                        </button>
                                        <button mat-menu-item disabled>
                                            <mat-icon>voicemail</mat-icon>
                                            <span>Check voice mail</span>
                                        </button>
                                        <button mat-menu-item>
                                            <mat-icon>notifications_off</mat-icon>
                                            <span>Disable alerts</span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                            
                            <div class="row note-details">
                                <div class="col-md-9">
                                    <span class="me-2"><mat-icon class="attach-money me-2">attach_money</mat-icon>USD 100,000 PA</span>
                                    <span><mat-icon class="time me-2">timelapse</mat-icon>30 Nov 2021</span><br>
                                    <div class="mt-1"><span class="light">Designation</span> Software Developer</div>
                                    <div class="mt-1">
                                        <span class="light">Created On</span>  01 Nov 2021
                                        <span class="light">Level</span> Mid Senior
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button mat-stroked-button class="ms-2 me-2 add-btn">View Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row offer-div my-4">
                        <div class="col-lg-4 offer-left-part">
                            <div class="row">
                                <h1>Software Quality Testing</h1>
                            </div>
                            <div class="row">
                                <div class="col-7 align-center">
                                    <img src="../assets/media/avatar.png" alt="" class="me-2 avatar" style="">
                                    John Watson
                                </div>
                                <div class="col-5 align-center flex-end">
                                    <a href="">Revise Offer</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 offer-right-part">
                            <div class="row">
                                <div class="col-6 align-center d-flex flex-column flex-md-row">
                                    <span class="pending me-2">Pending</span>
                                    <span>
                                        <mat-icon class="example-tab-icon notes-icon me-2">insert_drive_file</mat-icon>
                                        3 Notes
                                    </span>
                                </div>
                                <div class="col-6 flex-end">
                                    <button mat-icon-button [matMenuTriggerFor]="menu"
                                        aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item>
                                            <mat-icon>dialpad</mat-icon>
                                            <span>Redial</span>
                                        </button>
                                        <button mat-menu-item disabled>
                                            <mat-icon>voicemail</mat-icon>
                                            <span>Check voice mail</span>
                                        </button>
                                        <button mat-menu-item>
                                            <mat-icon>notifications_off</mat-icon>
                                            <span>Disable alerts</span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                            
                            <div class="row note-details">
                                <div class="col-md-9">
                                    <span class="me-2"><mat-icon class="attach-money me-2">attach_money</mat-icon>USD 100,000 PA</span>
                                    <span><mat-icon class="time me-2">timelapse</mat-icon>30 Nov 2021</span><br>
                                    <div class="mt-1"><span class="light">Designation</span> Software Developer</div>
                                    <div class="mt-1">
                                        <span class="light">Created On</span>  01 Nov 2021
                                        <span class="light">Level</span> Mid Senior
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button mat-stroked-button class="ms-2 me-2 add-btn">View Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-xxl-3">
            <app-right-part></app-right-part>
        </div>
    </div>
</div>