<div id="resumes">
    <div class="row container-padding bg-light container-margin">
        <div class="col-xl-8 col-xxl-9">
            <div class="row mx-1 my-4">
                <div class="col personal_details bg-white">
                    <div class="row">
                        <div class="col-12 col-md-8 col-lg-10 icon-title">
                            <i class="fa fa-book me-2" aria-hidden="true"></i>
                            <b>Resumes</b>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-9 col-lg-10">
                            <b>Example Resume 1.pdf</b>
                        </div>
                        <div class="col-md-3 col-lg-2 icon-pdf responsive-layout flex-end">
                            <i class="fa fa-share-alt mx-2" aria-hidden="true"></i>
                            <i class="fa fa-print mx-2" aria-hidden="true"></i>
                            <i class="fa fa-download mx-2" aria-hidden="true"></i>
                        </div>
                    </div>
                    <hr class="hr">
                    <div class="row">
                        <div class="col-md-9 my-2 my-lg-0">
                            <img src="../assets/media/resume-page-01.jpg" alt="resume"
                                class="img-fluid resume-left">
                        </div>
                        <div class="col-md-3">
                            <small>Page 1 of 3</small>
                            <div class="row">
                                <div class="col resume-page">
                                    <div class="row mt-3">
                                        <div class="col">
                                            <img src="../assets/media/resume-page-01.jpg" alt="resume"
                                                class="active img-fluid resume-right">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <img src="../assets/media/resume-page-02.jpg" alt="resume"
                                                class="img-fluid resume-right">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <img src="../assets/media/resume-page-02.jpg" alt="resume"
                                                class="img-fluid resume-right">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 d-none d-lg-flex">
                        <div class="col">
                            <div class="row">
                                <div class="col-6 col-md-8 col-lg-10">
                                    <b>Uploaded Files</b>
                                </div>
                                <div class="col-6 col-md-4 col-lg-2 flex-end add-files">
                                    <a href="">+ Add</a>
                                </div>
                            </div>
                            <hr class="hr">
                        </div>
                    </div>
                    <div class="row d-none d-lg-flex">
                        <div class="col">
                            <div class="row upload-file responsive-layout">
                                <div class="col-12 col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <img src="../assets/media/pdf.png" alt="pdf"
                                                class="img-fluid pdf-img">
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <b>Example Resume 1.pdf</b><br>
                                                <small>Added 23 Oct 2021</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 my-auto">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <small>3.2 MB</small>
                                        </div>
                                        <div class="col-lg-8">
                                            <small>Updated 23 Oct 2021</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 my-auto">
                                    <div class="row">
                                        <div class="col-lg-6 d-lg-flex flex-lg-row text-center">
                                            <img src="../assets/media/avatar.png" alt="avatar"
                                                class="img-fluid me-1 avatar">
                                            <p class="my-auto"><small>Jasson Hodd</small></p>
                                        </div>
                                        <div class="col-lg-6 my-auto flex-end">
                                            <i class="fa fa-eye mx-2 icon-eye"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-cloud-download mx-2 icon-cloud"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-share-alt mx-2 icon-share"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr my-1">
                            <div class="row upload-file responsive-layout">
                                <div class="col-12 col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <img src="../assets/media/gallery.png" alt="gallery"
                                            class="img-fluid gallery-img">
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <b>Portfolio.JPG</b><br>
                                                <small>Added 23 Oct 2021</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 my-auto">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <small>3.2 MB</small>
                                        </div>
                                        <div class="col-lg-8">
                                            <small>Updated 23 Oct 2021</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 my-auto">
                                    <div class="row">
                                        <div class="col-lg-6 d-lg-flex flex-lg-row text-center">
                                            <img src="../assets/media/avatar.png" alt="avatar"
                                                class="img-fluid me-1 avatar">
                                            <p class="my-auto"><small>Jasson Hodd</small></p>
                                        </div>
                                        <div class="col-lg-6 my-auto flex-end">
                                            <i class="fa fa-eye mx-2 icon-eye"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-cloud-download mx-2 icon-cloud"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-share-alt mx-2 icon-share"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr my-1">
                            <div class="row mt-4">
                                <div class="col-12">
                                    <div class="add-file">
                                        <a href=""><i class="fa fa-plus me-2"
                                                aria-hidden="true"></i>Add Or Drop Files here</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-1 my-4 d-lg-none">
                        <div class="col bg-white">
                            <div class="row">
                                <div class="col-6 icon-title">
                                    <b class="my-auto">Uploaded File</b>
                                </div>
                                <div class="col-6 flex-end">
                                    <a class="add_user ms-auto d-lg-none">
                                        + Add 
                                    </a>
                                </div>
                                <hr class="hr">
                            </div> 
                            <div class="row mt-2 mt-lg-4">
                                <div class="col-12">
                                    <div class="row mt-2 content">
                                        <div class="col-2 col-md-1 my-auto">
                                            <img src="../assets/media/pdf.png" alt="pdf" class="img-fluid">
                                        </div>
                                        <div class="col-8 col-md-8 p-0 my-auto">
                                            <span class="content_education">Resume.pdf</span>
                                        </div>
                                        <div class="col-2 col-md-2 my-auto responsive-layout flex-end">
                                            <i class="fa fa-eye mx-0 mx-sm-2 icon-eye"
                                                        aria-hidden="true"></i>
                                                    <i class="fa fa-cloud-download mx-2 icon-cloud"
                                                        aria-hidden="true"></i>
                                                    <i class="fa fa-share-alt mx-2 icon-share"
                                                        aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="row mt-2 content">
                                        <div class="col-2 col-md-1 my-auto">
                                            <img src="../assets/media/pdf.png" alt="pdf" class="img-fluid">
                                        </div>
                                        <div class="col-8 col-md-8 p-0 my-auto">
                                            <span class="content_education">Resume.pdf</span>
                                        </div>
                                        <div class="col-2 col-md-2 my-auto responsive-layout flex-end">
                                            <i class="fa fa-eye mx-2 icon-eye"
                                                        aria-hidden="true"></i>
                                                    <i class="fa fa-cloud-download icon-cloud-download mx-2 icon-cloud"
                                                        aria-hidden="true"></i>
                                                    <i class="fa fa-share-alt mx-2 icon-share"
                                                        aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-xxl-3">
            <app-right-part></app-right-part>
        </div>
    </div>
</div>